html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;
    min-height: 530px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Thin';
    font-style: normal;
    font-weight: 100;
    src: 
        local('Roboto')
        url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'AdventPro';
    src: url(../fonts/AdventPro-Regular.ttf);
}

@font-face {
    font-family: 'Baloo';
    src: url(../fonts/Baloo-Regular.ttf);
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: 
		local('Material Icons'), 
		local('MaterialIcons-Regular'), 
		url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}