{% extends '../layouts/caracterizacion.njk' %}

{% block pageHeader %}
                <section class="page-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="breadcrumb">
                                    <li><a href="#">Caracterización</a></li>
                                    <li class="active">Biofísica</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Caracterización Biofísica</h1>
                            </div>
                        </div>
                    </div>
                </section>
{% endblock %}

{% block content %}
                            <h2 id="ubicacion"><strong>Ubicación y Extensión</strong> </h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead">
                                        El art. 2 del Decreto Supremo N° 006-2011-AG que crea el Consejo de Recursos Hídricos de la Cuenca Chira-Piura establece su superficie, ver Cuadro N°20 y su ámbito, ver Figura N° 24.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p>El ámbito territorial del Consejo de Recursos Hídricos de la Cuenca Chira-Piura está conformado por las unidades hidrográficas señaladas en el mapa anexo y el siguiente Cuadro.</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <style>
                                        .tabla-hidrograficas tbody tr td{
                                            text-align: right;
                                        }
                                        .tabla-hidrograficas tbody tr td:nth-child(2){
                                            text-align: left;
                                        }
                                    </style>
                                    <table class="table table-bordered table-condensed table-striped  tabla-hidrograficas">
                                        <thead>
                                            <tr>
                                                <th colspan="4" rowspan="1" class="text-center">Unidades Hidrográficas</th>
                                            </tr>
                                            <tr>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Área (km2)</th>
                                                <th>(%)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>13779</td>
                                                <td>Intercuenca 13779</td>
                                                <td>4 708,17</td>
                                                <td>15,77</td>
                                            </tr>
                                            <tr>
                                                <td>1378</td>
                                                <td>Cuenca Piura </td>
                                                <td>10 872,09</td>
                                                <td>36,42</td>
                                            </tr>
                                            <tr>
                                                <td>1379</td>
                                                <td>Intercuenca 1379</td>
                                                <td>913,27</td>
                                                <td>3,06</td>
                                            </tr>
                                            <tr>
                                                <td>138</td>
                                                <td>Cuenca Chira</td>
                                                <td>10 534,76</td>
                                                <td>35,29</td>
                                            </tr>
                                            <tr>
                                                <td>1391</td>
                                                <td>Intercuenca 1391</td>
                                                <td>791,41</td>
                                                <td>2,65</td>
                                            </tr>
                                            <tr>
                                                <td>1392</td>
                                                <td>Cuenca Pariñas</td>
                                                <td>1 704,85</td>
                                                <td>5,71</td>
                                            </tr>
                                            <tr>
                                                <td>13931</td>
                                                <td>Intercuenca |13931</td>
                                                <td>328,31</td>
                                                <td>1,10</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" rowspan="1">Total</th>
                                                <th class="text-right">29 852,88</th>
                                                <th class="text-right">100,00</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                <div class="col-md-12">
                                    <p class="text-center"><small>Fuente: DS 006-2010-AG</small></p>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p>El ámbito del Consejo de Recursos Hídricos de Cuenca (CRHC) Chira-Piura, no debe sobrepasar el ámbito de la Autoridad Administrativa del Agua (AAA). El ámbito territorial alcanza a 29 852,88 km2 y su distribución se presenta en la Figura N° 24. La cuenca peruana del río Chira forma parte de la cuenca binacional Catamayo-Chira, preparándose el PGRH para el territorio peruano, salvo la información hidrológica, fisiográfica, climatológica y meteorológica que ha sido tomada a nivel de cuenca hidrográfica binacional para poder trabajar con el modelo de gestión.</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center"><small>Figura N° 24. Ámbito de la Cuenca Chira-Piura</small></p>
                                </div>
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="" style="margin-right: 20px">
                                        <a class="img-thumbnail lightbox" href="web/img/caracterizacion/figura24.jpg" data-plugin-options='{"type":"image"}'>
                                            <img class="img-responsive" src="web/img/caracterizacion/figura24.jpg" alt="Localización de la Cuenca Quilca-Chili y principales provincias">
                                            <span class="zoom">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <p class="text-center"><small>Fuente: DS 006-2010-AG</small></p>
                                </div>
                            </div>


                            <hr class="tall">


                            <h2 id="topografia"><strong>Características Topográficas y Fisiográficas</strong></h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead">
                                        La cuenca del río Piura puede diferenciarse en 2 zonas: el Desierto de Sechura, los Cerros de Asperrería y los Macizos de Paita de la parte noroeste y otro cordón de cerros de edad Pre-Terciaria en la parte noreste. Por otro lado encontramos la parte oriental donde el relieve es cada vez más abrupto alcanzando alturas de 3 644 msnm.
                                    </p>
                                    <p>
                                        En cuanto a la cuenca del río Chira, corresponde a la parte baja de la cuenca Catamayo-Chira, referida al territorio peruano, pero el análisis fisiográfico se hace de la cuenca completa ya que se considera una unidad indivisible. Como en la cuenca del río Piura se observa una zona desértica cercana a la costa y un paisaje mucho más abrupto hacia la parte oriental llegando a los 3 788 msnm.
                                    </p>
                                </div>
                            </div>

                            <hr class="tall">


                            <h2 id="topografia"><strong>Caracterización Climática</strong></h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead">
                                        El clima de las cuencas Chira y Piura, corresponde al de una zona sub-tropical según la clasificación de Koppën, al tipo de clima semi-tropical costero de Pettersen y semicálido según W. Thornthwaite. Este clima esta caracterizados por pluviosidad moderada y altas temperaturas, con pequeñas oscilaciones estacionales. A continuación se presenta el Cuadro N°21 con los Tipos Climáticos en el Ámbito Chira-Piura.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center"><small>Cuadro N°21. Tipos Climáticos en el ámbito de Chira-Piura, según la clasificación de Thornthwaite</small></p>
                                    <table class="table table-bordered table-condensed table-striped">
                                        <colgroup>
                                            <col width="20%">
                                            <col width="">
                                            <col width="20%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>TIPO DE CLIMA</th>
                                                <th>COBERTURA</th>
                                                <th>RANGO ALTITUDINAL (msnm)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Cálido</td>
                                                <td>Esperanza, Mallares, Lancones, Las Lomas, Timbes, Suyo, Paimas, Sausal de Culucán, Piura, Chulucanas, Tambogrande, Morropón</td>
                                                <td>Menor de 1 000</td>
                                            </tr>
                                            <tr>
                                                <td>Semicálido</td>
                                                <td>Nazaino, Sapillica, Montero, Sicchez, Sechura</td>
                                                <td>1 000 – 1 700</td>
                                            </tr>
                                            <tr>
                                                <td>Templado Cálido</td>
                                                <td>Palo Blanco, Lagunas, Pacaipampa</td>
                                                <td>1 700 – 2 300</td>
                                            </tr>
                                            <tr>
                                                <td>Templado Frio</td>
                                                <td>Los Alisos, Minas, Sauce, Ayabaca, Yangana, Pacaypampa</td>
                                                <td>2 300 – 3 000</td>
                                            </tr>
                                            <tr>
                                                <td>Semifrío</td>
                                                <td>Arrendamiento, Las Pircas, Talaneo</td>
                                                <td>3 000 – 3 500</td>
                                            </tr>
                                            <tr>
                                                <td>Frio Moderado</td>
                                                <td>Las cumbres más altas de la cuenca</td>
                                                <td>Mayor de 3 500</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="text-center"><small>Fuente: Estudio climático Consorcio ATA-UNP-UNL: UNIGEC, Ecuador-Perú, 2003</small></p>
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                <div class="col-md-12">
                                    <p>Precipitación: El régimen de lluvias en las cuencas puede clasificarse en tres tipos:</p>
                                    <ul class="list list-icons list-primary">
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> La zona baja entre las curvas de nivel 0,0 y 80 msnm con precipitaciones escasas del orden de 10 a 80 mm anuales (Ene-Abr).</li>
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300"><i class="fa fa-check"></i> La franja ubicada entre los 80 y 500 msnm, donde las lluvias registradas son del orden de los 100 y 600 mm (Dic-May).</li>
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fa fa-check"></i> La franja ubicada desde los 500 msnm hasta la línea divisoria de aguas de las 2 cuencas, con lluvias promedios anuales que varían entre 700 y 1 100 mm, (Ene-May).</li>
                                    </ul>
                                </div>
                            </div>

                            <hr class="tall">


                            <h2 id="topografia"><strong>Caracterización Geológica</strong></h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead">
                                        Gran parte del territorio del departamento de Piura se encuentra localizado en la llanura costera (60%) y otra dentro de la cadena andina (40%) lo cual le confiere una fisiografía muy heterogénea con paisajes y ecosistemas muy especiales y diversos.
                                    </p>

                                    <p>Geológicamente el territorio piurano está conformado por rocas sedimentarias, rocas ígneas (volcánicas e intrusivas) y rocas metamórficas. Siendo dominantes las rocas sedimentarias en la zona de la costa y las rocas intrusivas en la Sierra.</p>

                                    <p>
                                        En lo que se refiere a minería: asociado a las rocas sedimentarias de la costa encontramos los recursos no metálicos como el petróleo, gas, fosfatos, sulfatos, arcillas refractarias, etc.
                                        Y en la zona de la Sierra asociados a las rocas intrusivas son más frecuentes las asociaciones metálicas de oro-plata, cobre-zinc-plomo, cobre-molibdeno.
                                        Tectónicamente la Región de Piura se ubica en la llamada “Deflexión de Huancabamba” caracterizada por un cambio de dirección en las estructuras andinas de NO-SE a NE.
                                        Además del intenso tectonismo andino esta región también ha sufrido cambios por el tectonismopaleozóico.
                                    </p>
                                </div>
                            </div>

                            <hr class="tall">


                            <h2 id="topografia"><strong>Caracterización de Usos de Suelo</strong></h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead">
                                        En la cuenca del Chira-Piura las actividades principales son la agricultura y la ganadería vacuna y caprina mayoritariamente.
                                    </p>

                                    <p>
                                        En la costa la agricultura con riego tecnificado viene ganando terrenos a los bosques secos de algarrobos y cada día mayor cantidad de áreas boscosas son utilizadas para la ganadería, apicultura. Una clara evidencia de esta expansión agrícola es el cultivo de caña de azúcar para etanol, el cultivo de uva y el de espárrago. Gran parte de la población económicamente activa del departamento se dedica a la actividad agropecuaria y a actividades extractivas del bosque.
                                    </p>
                                </div>
                            </div>

                            <hr class="tall">


                            <h2 id="topografia"><strong>Caracterización Biótica</strong></h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead">
                                        El Perú es considerado como uno de los 12 países con mayor biodiversidad en el mundo, en especial en su zona noroeste, concentrando en esta docena de países aproximadamente, el 70% de la diversidad biológica mundial, que trae como responsabilidad plantear estrategias para su conservación y conocimiento.
                                    </p>
                                    <p>
                                        El mapa ecológico del Perú, basado en el sistema de Zonas de Vida de Holdridge, permite clasificar las diferentes áreas del país, tomando en cuenta las regiones latitudinales y los pisos altitudinales, según Holdridge. En el año 2000 el INRENA define para la región de Piura un total de 17 Zonas de Vida y 3 zonas transitorias, de las 84 identificadas para el territorio nacional (INRENA, 2000).
                                    </p>
                                    <p>
                                        En el Estudio "Memoria Descriptiva para las Zonas de Vida, Pisos Altitudinales y Biodiversidad en la Región de Piura", realizado para la ZEE (2010), se desarrolló una combinación del sistema de Zonas de Vida de Holdridge y otros investigadores como Pulgar Vidal, Zamora, Koëpcke y Brack, dadas las características peculiares de heterogeneidad del territorio en estudio. Así se determinaron 31 Zonas de Vida desarrolladas a lo largo de 5 pisos altitudinales para la región de Piura en la Zona Continental y 4 Zonas de Vida en la Zona Costera. El Cuadro N°22 presenta los pisos altitudinales en la zona continental de la región Piura.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center"><small>Cuadro N°22. Pisos Altitudinales en la zona continental de la Región de Piura</small></p>
                                </div>

                                <div class="col-md-6 col-md-offset-3">
                                    <table class="table table-bordered table-condensed table-striped">
                                        <thead>
                                            <tr>
                                                <th>Altitud (msnm)</th>
                                                <th>Pisos Ecológicos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>0 – 250</td>
                                                <td>Trópica</td>
                                            </tr>
                                            <tr>
                                                <td>250 – 1 000</td>
                                                <td>Pre Montano Tropical</td>
                                            </tr>
                                            <tr>
                                                <td>1 000 – 2 200</td>
                                                <td>Montano Bajo Tropical</td>
                                            </tr>
                                            <tr>
                                                <td>2 200 – 3 000</td>
                                                <td>Montano</td>
                                            </tr>
                                            <tr>
                                                <td>3 000-4000</td>
                                                <td>Páramo</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-12">
                                    <p class="text-center"><small>Fuente: Estudio climático Consorcio ATA-UNP-UNL: UNIGEC, Ecuador-Perú, 2003</small></p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Debido a la enorme cantidad de especies florísticas y faunísticas que se pueden encontrar en el territorio peruano y a la variedad de Zonas de Vida indicadas anteriormente, se considera que Perú en uno de los 5 países con mayor biodiversidad del planeta. Por la importancia de conservar esta biodiversidad se redactó la Ley Nº 26 864 – Ley de Áreas Naturales Protegidas del Perú, del 4 de Julio 1997, norma nacional más importante para la gestión y conservación de las áreas naturales protegidas.
                                    </p>
                                    <p>
                                        En el ámbito de estudio que nos compete encontramos que existen 3 Zonas Naturales Protegidas a nivel Nacional:
                                    </p>

                                    <ul class="list list-icons list-primary">
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Parque Nacional Cerros de Amotape. Aprobado por Decreto Supremo Nº 0800-75-AG. Declarada Reserva de la Biosfera por la UNESCO en 1997.</li>
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300"><i class="fa fa-check"></i> Coto de Caza El Angolo. Aprobado por Resolución Suprema N° 0264-75-AG. Declarada Reserva de la Biósfera por la UNESCO en 1997.</li>
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fa fa-check"></i> Zona Reservada Illescas. Aprobado por Resolución Ministerial Nº 251-2010-MINAM.</li>
                                    </ul>

                                    <br/>

                                    <p>Un Espacio Natural Protegida a nivel Regional:</p>

                                    <p>
                                        Área de Conservación Regional “Bosques Secos de Salitral –Huarmaca”. Por Acuerdo de Consejo Regional N° 672 - 2010/GRP-CR  se declara de interés regional la propuesta de Áreas de Conservación Regional Bosques Secos de Salitral - Huarmaca. Posteriormente, por Decreto Supremo 019-2011-MINAM es declarada como Área de Conservación Regional y 11 Áreas Naturales con potencial para la conservación:
                                    </p>

                                    <ul>
                                        <li>Bosque Cuyas Cuchayo (Ayabaca).</li>
                                        <li>Manglares de San Pedro de Vice.</li>
                                        <li>Complejo Arqueológico de Aypate (Ayabaca).</li>
                                        <li>Páramos y Bosques Húmedos de Montaña de Piura.</li>
                                        <li>Bosque de Ñoma.</li>
                                        <li>Humedales de Sechura: Estuario de Virrilán, Lagunas de Ramón y Ñapique.</li>
                                        <li>Estribaciones del Sur de los Amotapes – Talara.</li>
                                        <li>Bosque Piedra El Toro.</li>
                                        <li>Bosque Dotor.</li>
                                        <li>Bosque de Manga Manga.</li>
                                        <li>Laguna Los Patos.</li>
                                    </ul>

                                    <br/>

                                    <p>En el Ámbito Marino, tenemos</p>

                                    <ul>
                                        <li>Isla Foca</li>
                                        <li>El Ñuro</li>
                                        <li>Banco de Máncora</li>
                                    </ul>

                                </div>
                            </div>


                            <hr class="tall">

                            <h2 id="climatica"><strong>Caracterización de los Recursos Hídricos</strong></h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead">
                                        El régimen de lluvias en las cuencas puede clasificarse en tres tipos:
                                    </p>

                                    <p>
                                        <strong>El primero</strong>, corresponde la zona baja entre las curvas de nivel 0,0 y 80 msnm cubriendo precipitaciones del orden de 10 a 80 mm anuales, que se concentran en el período de Enero – Abril, y siendo seco en los meses restantes del año. Las lluvias en esta zona son muy irregulares, y parecen estar fuertemente relacionadas por la ocurrencia aleatoria de fenómenos meteorológicos intensos ocasionados por el Fenómeno El Niño (FEN), que hacen producir lluvias de gran intensidad, llegando a superar en 20 veces los valores normales.
                                    </p>
                                    <p>
                                        <strong>El segundo tipo</strong>, corresponde a la franja ubicada entre los 80 y 500 msnm, donde las lluvias registradas son del orden de los 100 y 600 mm. Su período de ocurrencia es generalmente de Diciembre - Mayo con características de variabilidad menor que el primer grupo, y siendo en el resto del año significativamente baja llegando inclusive en algunos años a cero.
                                    </p>
                                    <p>
                                        <strong>El tercer tipo</strong> corresponde a la franja ubicada desde los 500 msnm hasta la línea divisoria de aguas de las 2 cuencas, esta zona alta obedece a un régimen pluvial amazónico caracterizado por baja variabilidad de lluvias promedios anuales que varían entre 700 y 1100 mm, las máximas precipitaciones se registran en los meses de Enero - Mayo siendo en el resto del año de baja intensidad, pero no llegando sus registros a cero. Se puede observar en esta zona, que la incidencia de Fenómenos intensos de El Niño (ocurrencia aleatoria) es casi nula.
                                    </p>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-center"><small>Figura N° 25. Precipitaciones (mm). Estación de Miraflores (Zona baja): Periodo 1972-2000</small></p>
                                    </div>
                                    <div class="col-md-6 col-md-offset-3">
                                        <div>
                                            <a class="img-thumbnail lightbox" href="web/img/caracterizacion/figura25.jpg" data-plugin-options='{"type":"image"}'>
                                                <img class="img-responsive" src="web/img/caracterizacion/figura25.jpg" alt="Precipitaciones (mm). Estación de Miraflores (Zona baja): Periodo 1972-2000">
                                                <span class="zoom">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="text-center"><small>Fuente: Plan de Gestión de la Oferta de Agua en las Cuencas del Ámbito del Proyecto Chira – Piura, ATA 2002</small></p>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <p>
                                        A partir exclusivamente de datos hidrométricos no es posible caracterizar la oferta de agua para alimentar el modelo de gestión por lo que se procedió a desarrollar un modelo hidrometeorológico continuo y a escala mensual que representara el ciclo hidrológico completo. Este se elaboró aplicando series de lluvia de un modelo climático global disponible en la web y calibrando en el período de control (1950-1999)
                                    </p>
                                    <p>
                                        En cuanto al agua subterránea se considera interesante recopilar las estimaciones de recursos realizadas en estudios anteriores. Aunque este dato hay que considerarlo con las máximas reservas, puede servir para tener un orden de magnitud. En el Cuadro N°23 se han recopilado los datos de la estimación de recursos del plan maestro de gestión integrada de los recursos hídricos de las cuencas hidrográficas de la región Piura.
                                    </p>
                                </div>

                                <div class="col-md-12">
                                    <p class="text-center"><small>Cuadro N°23. Estimación de los recursos de agua subterránea en los principales acuíferos de las cuencas del río Chira y Piura</small></p>
                                </div>
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-striped">
                                        <colgroup>
                                            <col width="20%">
                                            <col width="15%">
                                            <col width="35%">
                                            <col width="30%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Acuífero</th>
                                                <th>Recursos disponibles</th>
                                                <th>Observaciones</th>
                                                <th>Fuente</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Acuífero aluvial del río Chira</td>
                                                <td>250 Hm3</td>
                                                <td>Hay que destacar que según los datos de 2012 en la actualidad se explotan    211 Hm3.    Esto    hace pensar que los valores estimados de  recursos    disponibles están  infradimensionados</td>
                                                <td>Caracterización hídrica entre la oferta  y   la  demanda en  el  ámbito de la cuenca binacional Catamayo-Chira  (ATA-UNP-UNL, 2003)</td>
                                            </tr>
                                            <tr>
                                                <td>Acuífero aluvial del Alto Piura</td>
                                                <td>187 Hm3</td>
                                                <td>-</td>
                                                <td>ATA-INADE (2002)</td>
                                            </tr>
                                            <tr>
                                                <td>Acuífero terciario del Medio y Bajo Piura</td>
                                                <td>56 Hm3</td>
                                                <td>-</td>
                                                <td>SANIPLAN,   AMSA    Y   GKW CONSULT (2003)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <p class="text-center"><small>Fuente: Consorcio Inclam-Alternativa, Julio 2012</small></p>
                                </div>
                                <br/>

                                <div class="col-md-12">
                                    <p>Los escenarios contemplados de cambio climático indican que se producirá un aumento de la precipitación y al mismo tiempo un aumento de la temperatura. Sin haber realizado un modelo que contemple a la escala adecuada las características de la cuenca, todo hace pensar que el mecanismo orográfico de generación de precipitación se mantenga idéntico, y por tanto el incremento de precipitación se producirá en las zonas que son actualmente más húmedas. Por el contrario el aumento de la temperatura provocará que en las zonas de baja precipitación el umbral para que la condensación del agua alcance el punto de rocío esté más alto y por tanto en estas zonas es previsible que se produzca un descenso de la precipitación. Al mismo tiempo se espera un incremento gradual del nivel del mar.</p>

                                    <p>El abastecimiento de agua para uso multisectorial tiene dos períodos marcados, el período de avenidas entre Enero y Abril y el período de estiaje entre Mayo y Diciembre. Para el primer período la mayor parte de abastecimiento de agua para uso agrícola y para el uso poblacional proviene del agua superficial que brindan los ríos que atraviesan los valles Chira y Piura.</p>

                                    <p>Para el sistema Alto Piura el abastecimiento de agua para uso agrícola en el período de avenidas es gran parte proveniente de las aguas superficiales del río Piura, no obstante en el período de estiaje prácticamente en su totalidad el agua es proveniente del agua subterránea y para el abastecimiento de agua para uso poblacional es también proveniente de la misma fuente. Para el Medio Piura, se presentan casos como la de las empresas que se proveen de agua subterránea, mediante pozos tubulares, aún en época de avenidas total o complementariamente. En lugares donde la disponibilidad de agua es escasa, como en la provincia de Sechura, el agua para fines de uso potable e industrial es proveniente del acuífero subterráneo, la cual pasa por un sistema de filtrado antes de su consumo.</p>
                                </div>
                            </div>




{% endblock %}
