{% extends '../layouts/caracterizacion.njk' %}

{% block pageHeader %}
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Caracterización</a></li>
									<li class="active">Socieconómica y Cultural</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Caracterización Socieconómica y Cultural</h1>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block content %}

				<h2 id="ubicacion"><strong>Población</strong> </h2>

					<div class="row">
						<div class="col-md-12">
							<div class="pull-left" style="margin-right: 20px">
								<a class="img-thumbnail lightbox" href="web/img/caracterizacion/poblacion.jpg" data-plugin-options='{"type":"image"}'>
									<img class="img-responsive" src="web/img/caracterizacion/poblacion.jpg" width="335" height="208" alt="Características Topográficas y Fisiográficas">
									<span class="zoom">
										<i class="fa fa-search"></i>
									</span>
								</a>
							</div>
							<p>En los últimos 67 años se ha producido un significativo incremento poblacional. La población total del valle en 2007 es 5,7 veces mayor que la de 1940, 3,2 veces mayor que la existente en 1961, 2,1 veces mayor que la que había en 1972, 1,6 veces mayor que la de 1981 y 1,2 veces mayor que la población total de 1993.</p>
							<p>La población de Chiclayo es 7,8 veces la de Ferreñafe, la menos poblada del departamento, y 2,9 veces la población de la provincia de Lambayeque.</p>
							<p>En los últimos 67 años, entre los censos de 1940 y 2007, mientras la población censada creció 5,8 veces, la población urbana ha aumentado en cerca de 9 veces. En contraste, la población rural ha crecido en algo más de 2 veces. En cifras absolutas, la población del área urbana continúa aumentando; sin embargo, su velocidad de crecimiento viene disminuyendo desde mediados de la década del 60. Entre los censos de 1961 y 1972, el incremento de la población humana fue de 5,3 % por año. Este ritmo disminuyó a 3,7 % anual en el periodo intercensal 1972-1981, a 2,6 % en el periodo 1981-1993 y a 1,6 % en el periodo 1993-2007.</p>
						</div>
					</div>

					<hr class="tall">

					<h2 id="topografia"><strong>Población Económicamente Activa (PEA)</strong></h2>

					<div class="row">
						<div class="col-md-12">
							<div class="pull-right" style="margin-left: 20px">
								<a class="img-thumbnail lightbox" href="web/img/caracterizacion/peac.jpg" data-plugin-options='{"type":"image"}'>
									<img class="img-responsive" src="web/img/caracterizacion/peac.jpg" width="335" height="208" alt="Características Topográficas y Fisiográficas">
									<span class="zoom">
										<i class="fa fa-search"></i>
									</span>
								</a>
							</div>
							<p>Según los resultados del censo del 2007, la PEA de 14 y más años de la parte baja de la cuenca que corresponde al departamento de Lambayeque asciende a 396 996 personas, las cuales representan el 49,8 % de la población en edad de trabajar (PET) de 14 y más años de edad. Del total de la PEA registrada en el censo del 2007, el 67,8 % (268 991) son hombres y el 32,2 % (128 005) son mujeres. Según el sexo, las principales ramas de actividad en las que participan los hombres son agricultura (65,2 %), seguido de comercio (5,9 %), construcción (5,4 %), transportes y comunicaciones (4,9 %), enseñanza (4,0 %) y manufactura (4,0 %). En el caso de las mujeres, el 28,7 % se encuentra trabajando en agricultura, el 15,9 % en otros servicios, el 14,7 % en comercio, el 12,3 % en enseñanza y el 10,8 % en manufactura, entre las principales.</p>

						</div>
					</div>

					<hr class="tall">

					<h2 id="analfabetismo"><strong>Analfabetismo</strong></h2>

					<div class="row">
						<div class="col-md-12">
							<div class="pull-left" style="margin-right: 20px">
								<a class="img-thumbnail lightbox" href="web/img/caracterizacion/ana.jpg" data-plugin-options='{"type":"image"}'>
									<img class="img-responsive" src="web/img/caracterizacion/ana.jpg" width="335" height="208" alt="Características Topográficas y Fisiográficas">
									<span class="zoom">
										<i class="fa fa-search"></i>
									</span>
								</a>
							</div>
							<p>En el departamento el Lambayeque existen 50 397 personas de 15 y más años de edad que no saben leer ni escribir, lo que equivale al 6,5 % de la población de este grupo de edad. Al comparar en el periodo intercensal de 1993-2007, la tasa de analfabetismo se redujo en 4,5 puntos porcentuales.</p>
							<p>Según los resultados del censo 2007, en el departamento de Cajamarca existen 51 021 personas de 15 y más años de edad que no saben leer ni escribirl lo que equivale al 17,1 % de la población de este grupo de edad. Comparado con el nivel de analfabetismo del 1993, se redujo en 10,1 puntos porcentuales.</p>
						</div>
					</div>

					<hr class="tall">


					<h2 id="nivel_educacion"><strong>Nivel de Educación</strong></h2>


					<div class="row">
						<div class="col-md-12">
							<div class="pull-right" style="margin-left: 20px">
								<a class="img-thumbnail lightbox" href="web/img/caracterizacion/educa.jpg" data-plugin-options='{"type":"image"}'>
									<img class="img-responsive" src="web/img/caracterizacion/educa.jpg" width="335" height="208" alt="Características Topográficas y Fisiográficas">
									<span class="zoom">
										<i class="fa fa-search"></i>
									</span>
								</a>
							</div>
							<p>El nivel educativo de la población en el valle ha experimentado un notable incremento respecto a 1993, al haber aumentado la población con educación secundaria y superior.</p>
							<p>El censo del 2007 revela que las provincias de la cuenca alta Chancay-Lambayeque de Hualgayoc (41,9 %) y Chota (31,5 %) presentan la mayor proporción de población femenina sin ningún nivel de educación. La población masculina que no tiene nivel de educación se encuentra en mayor porcentaje en la provincia de Hualgayoc (12,6 %). En cambio, en la provincia de San Miguel (6,1 %) la población masculina de 15 y más años de edad que no tiene ningún nivel educativo alcanza a una menor proporción.</p>

						</div>
					</div>

					<hr class="tall">


					<h2 id="servicios_basicos"><strong>Servicios Básicos</strong></h2>


					<div class="row">
						<div class="col-md-12">
							<div class="pull-left" style="margin-right: 20px">
								<a class="img-thumbnail lightbox" href="web/img/caracterizacion/servbas.jpg" data-plugin-options='{"type":"image"}'>
									<img class="img-responsive" src="web/img/caracterizacion/servbas.jpg" width="335" height="208" alt="Características Topográficas y Fisiográficas">
									<span class="zoom">
										<i class="fa fa-search"></i>
									</span>
								</a>
							</div>
							<p>Según la información analizada del INEI a diciembre del 2010, ajustada al ámbito de la cuenca del río Chancay-Lambayeque, 127 947 uh (47,7 %) cuentan con instalaciones domiciliarias o servicio de agua potable, de los cuales 95 636 uh son instalaciones sin medidor y solo 32 311 uh cuentan con medidor. A esa fecha disponían de desagüe 118 774 uh (44,3 %) del total de viviendas (268 235).</p>
							<p>La empresa encargada del Servicio de Agua Potable y Alcantarillado en Lambayeque es EPSEL S.A., que administra un total de 26 localidades. El servicio se brinda para los usos doméstico, industrial, comercial y estatal. Para una población urbana (año 2007) localizada dentro del ámbito de la empresa, de 782 204 habitantes, EPSEL, produce 52 857 156 m3 de agua. La producción unitaria de agua potable es de 309,10 l/hab/día y el consumo unitario medido es de 207,22 l/hab/día. El importe facturado de agua potable y alcantarillado al 2010 fue de S./ 31 870 252.</p>

						</div>
					</div>

					<hr class="tall">

					<h2 id="climatica"><strong>Actividades Económicas</strong></h2>

					<div class="row">

						<div class="col-md-12">
							<span class="img-thumbnail center-block">
								<img class="img-responsive" src="web/img/caracterizacion/clima.jpg" alt="Características Climática" width="100%">
							</span>
							<br />
							<br />
						</div>
					</div>


					<div class="row">
						<div class="col-md-12">
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<i class="fa fa-check-square"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="mb-none">Agrícola</h4>
									<p class="tall">
									Los cultivos de mayor superficie de siembra en la cuenca Chancay-Lambayeque lo constituyen la parte baja o valle, dentro de los que sobresalen el arroz con 43,96 %, la caña de azúcar con 35,76 %, el maíz amarillo duro con 5,74 % y el algodón con 4,78 %. El área total sembrada en el periodo 2006-2011 varió entre 77 406 y 95 316 ha.
									</p>
									<p>
									En el sistema no regulado, sobre la base de la cédula de cultivos de cada sector se ha obtenido una estructura de cultivo representativa de las mayores superficies ocupadas por los cultivos. Los principales cultivos de la cuenca alta andina son la papa, el maíz, el haba y la oca. El área bajo riego está alrededor de las 5200 ha
									</p>
								</div>
							</div>
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<i class="fa fa-check-square"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="mb-none">Pecuaria</h4>
									<p class="tall">
										La actividad económica en este rubro, a nivel departamental y al nivel de la Cuenca Chancay-Lambayeque, se desarrolla en forma muy limitada y deficiente a base de razas criollas y cruzadas de ganado vacuno, porcino, ovino, caprino y aves. Durante el periodo 2006-2010, esta actividad mostró cierto estancamiento en su crecimiento vegetativo.
									</p>
									<p>
										La crianza y explotación, en su mayoría, se concentran en los minifundistas y pequeños agricultores, quienes, por falta de recursos económicos, asistencia técnica y crediticia, muestran aún una incipiente tecnología
									</p>
								</div>
							</div>
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<i class="fa fa-check-square"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="mb-none">Generación de Energía</h4>
									<p class="tall">
										La producción de energía eléctrica de servicio público en el departamento de Lambayeque en el año 2010 fue de 103.0 Gw/h, apreciándose una caída respecto a los años 2007 (118,4), 2008 (122,2) y 2009 (111,4). La facturación total para el año 2010 ha sido de S./ 150 317 490 de los cuales 145 359 491 corresponden al sistema Chiclayo, 2 227 105 al sistema Niepos y 1675 501 al sistema Carhuaquero.
									</p>
								</div>
							</div>
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<i class="fa fa-check-square"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="mb-none">Minera</h4>
									<p class="tall">
									La minería en la cuenca está distribuida, principalmente, en la parte alta de la cuenca, dentro de las provincias de Chugur, Catilluc, Santa Cruz, entre otras. Existe un aproximado de 250 mineras entre empadronadas y no empadronadas. El 50 % cuenta con concesiones aprobadas por DL 708, el restante son minas tanto empadronadas como no empadronadas que están en la etapa de exploración. Las empresas mineras más importantes operando en la cuenca son Minera La Zanja y Minera Coimolache.
									</p>
								</div>
							</div>
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<i class="fa fa-check-square"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="mb-none">Pesquera</h4>
									<p class="tall">
										El potencial hidrobiológico marino formado sobre todo por peces tiene cierta importancia. En cuanto a la producción hidrobiológica marítima desatinada para consumo humano directo de los últimos años, en el 2008 se desembarcaron 8630,0 TMB; en el año 2009, 6150,7 TMB; y en el año 2010, 4549,8 TMB.
									</p>
									<p>
										Esto significa una disminución del 29 % y 26 % respecto al año anterior, respectivamente. Las especies más abundantes son la caballa, el bonito, la cachema, el suco, el tollo, entre otros.
									</p>
								</div>
							</div>
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<i class="fa fa-check-square"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="mb-none">Turismo</h4>
									<p class="tall">
									El turismo departamental en el año 2010 generó 339 378 visitantes, con 287 106 visitantes nacionales y 52 272 turistas extranjeros, observándose que la mayor cantidad de turistas se concentran en el museo arqueológico Tumbas Reales. Esto motiva a la generación de comercio interno y actividades afines como transporte, hospedaje y gastronomía. El valor agregado del turismo es la artesanía, principalmente en el sector de Monsefú, una actividad complementaria importante a pesar de tener un escaso impulso. Los principales productos son sombreros de paja y tejidos de hilo diversos (manteles, ponchos, alforajas, entre otros.
									</p>
								</div>
							</div>
						</div>
					</div>


{% endblock %}
