{% extends '../layouts/caracterizacion.njk' %}

{% block pageHeader %}
                <section class="page-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="breadcrumb">
                                    <li><a href="#">Caracterización</a></li>
                                    <li class="active">Biofísica</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Caracterización Biofísica</h1>
                            </div>
                        </div>
                    </div>
                </section>
{% endblock %}

{% block content %}
                            <h2 id="ubicacion"><strong>Ubicación y Extensión</strong> </h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead">
                                        La cuenca Quilca-Chili está ubicada en la vertiente occidental de la Cordillera de Los Andes, y consecuentemente pertenece a la vertiente del Océano Pacífico.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p>Abarca prácticamente la totalidad de la provincia de Arequipa, al suroeste del territorio peruano, entre la latitud Sur 15°37'50" ’y 16°47'10''y longitud Oeste 70°49'15'' y 72°26'35''.</p>
                                    <p>El ámbito del CRHC Quilca-Chili está delimitado políticamente de la siguiente manera:</p>
                                    <ul class="list list-icons list-primary">
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Norte: provincias de Caylloma (Arequipa) y Santa Lucía (Puno)</li>
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Sur: provincias de Camaná e Islay (Arequipa).</li>
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Este: provincias de Islay (Arequipa) y General Sánchez Cerro (Moquegua).</li>
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Oeste: Océano Pacífico.</li>
                                    </ul>
                                    <p>Figura4: Localización de la Cuenca Quilca-Chili y principales provincias</p>

                                    <div class="pull-left" style="margin-right: 20px">
                                        <a class="img-thumbnail lightbox" href="web/img/caracterizacion/mpc.jpg" data-plugin-options='{"type":"image"}'>
                                            <img class="img-responsive" src="web/img/caracterizacion/mpc.jpg" width="335" height="208" alt="Localización de la Cuenca Quilca-Chili y principales provincias">
                                            <span class="zoom">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </a>
                                    </div>

                                    <p>La cuenca Quilca-Chili se extiende prácticamente en su totalidad dentro de la Región Arequipa, ocupando la mayor parte de la provincia de Arequipa, una parte de la provincia de Caylloma y una mínima proporción de las provincias de Islay, Camaná y General Sánchez Cerro.</p>
                                    <p>A su vez, la cuenca está conformada por cuarenta y un (41) distritos como muestra la Figura 5.</p>
                                    <p>La cuenca se encuentra ubicada dentro del ámbito administrativo de la Autoridad Administrativa del Agua (AAA) I Caplina Ocoña, que tiene como jurisdicción las Administraciones Locales del Agua (ALA) Chili y Colca-Siguas-Chivay.</p>
                                    <p>Figura 5: Principales distritos políticos</p>

                                    <div class="pull-left" style="margin-right: 20px">
                                        <a class="img-thumbnail lightbox" href="web/img/caracterizacion/mpc.jpg" data-plugin-options='{"type":"image"}'>
                                            <img class="img-responsive" src="web/img/caracterizacion/mpc.jpg" width="335" height="208" alt="Principales distritos políticos">
                                            <span class="zoom">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <hr class="tall">


                            <h2 id="topografia"><strong>Características Topográficas y Fisiográficas</strong></h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead">
                                        La cuenca Quilca-Chili está conformada principalmente por la unidad hidrográfica Quilca-Vítor-Chili, la cual tiene un área total de 13 457 km2 y representa el 21,2 % del área total de la Región Arequipa (63 418 km2).
                                    </p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">

                                    <p>Dentro de la cuenca Quilca-Chili se incluyen también los espacios de las cuencas Centeno y San José y las intercuencas 13197, y 13199 (Litoral de la provincia de Camaná), que hacen un total de 360 km2 que representa el 0,6% del área total de la Región. El área total del ámbito del CRHC Quilca-Chili es pues de 13 817 km2.</p>

                                    <p> El río Quilca-Chili desde sus nacientes en el distrito de San Antonio de Chuca, toma el nombre de rio Sumbay hasta la confluencia con el río Blanco por su margen izquierda, con una longitud de 133,7 km; de la confluencia con el rio Blanco hasta la
                                    confluencia con el rio Yura en Palca, toma el nombre de rio Chili con una longitud de 88,2 km; desde la confluencia con el Yura hasta la confluencia con el rio Siguas toma el nombre de rio Vítor con una longitud de 80,7 km, de esta última confluencia
                                    hasta el mar se denomina rio Quilca con una longitud de 23,5 km. La pendiente del río es del orden del 1,48 %. Desemboca en el Océano Pacífico, cerca del poblado de Quilca.</p>

                                    <div class="feature-box feature-box-style-2">
                                        <div class="feature-box-icon">
                                            <i class="fa fa-thermometer-full"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-none">Río Sumbay</h4>
                                            <p class="tall">
                                            El río Quilca-Chili desde sus nacientes toma el nombre de río Sumbay. El río Sumbay surge detrás de la cordillera occidental, de las aguas provenientes de un manto acuífero situado en la formación Capillune, de unos 200 metros de profundidad entre la cordillera occidental y oriental. El río se extiende hasta la confluencia del río Blanco por su margen izquierda. Representa la zona de mayor área de drenaje y precipitación de la cuenca, con un área de 2 450 km2. A la altura del poblado de
                                            Imata, tiene lugar el trasvase desde el Alto Colca a la cuenca del río Chili, a través del río Sumbay.</p>
                                        </div>
                                    </div>

                                    <div class="feature-box feature-box-style-2">
                                        <div class="feature-box-icon">
                                            <i class="fa fa-thermometer-full"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-none">Río Blanco</h4>
                                            <p class="tall">
                                            tributario del Sumbay por la margen izquierda, se encuentra en gran parte regulado por el embalse El Frayle. Este embalse regula 1 049 km2 de un total de 1 200 km2.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="feature-box feature-box-style-2">
                                        <div class="feature-box-icon">
                                            <i class="fa fa-thermometer-full"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-none">Rió Chili</h4>
                                            <p class="tall">
                                            La confluencia de los ríos Blanco y Sumbay dan lugar al río Chili, el cual se extiende hasta la confluencia del mismo con el río Yura en Palca.
                                            </p>
                                        </div>
                                    </div>

                                    <p>Prácticamente aguas abajo de la confluencia entre los ríos Sumbay y Blanco que forman el Chili, se encuentra el embalse de Aguada Blanca, a 3 600 msnm. Este embalse domina una cuenca de 3 895 km2 conjuntamente con los embalses Pillones y Chalhuanca.</p>

                                    <div class="feature-box feature-box-style-2">
                                        <div class="feature-box-icon">
                                            <i class="fa fa-thermometer-full"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-none">>Río Tingo Grande</h4>
                                            <p class="tall">
                                            El río Tingo Grande entrega sus aguas al río Chili por su margen izquierda, a unos 3 km aguas abajo del Balneario de Tingo, sobre la cota 2 130 msnm. Se forma por la confluencia de los ríos Andamayo y Postrero, tributarios por la margen derecha e izquierda. El río Postrero se forma por la unión de los ríos Mollebaya y Yarabamba, tributarios derecho e izquierdo, sobre los 2 300 msnm. El río Yarabamba está parcialmente regulado por la represa San José de Uzuña en el distrito de Polobaya.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="feature-box feature-box-style-2">
                                        <div class="feature-box-icon">
                                            <i class="fa fa-thermometer-full"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-none">Río Andamayo</h4>
                                            <p class="tall">
                                            nace en las altiplanicies de la Cordillera Occidental, en la localidad de Pasto Grande, sobre los 4 340 msnm, de unos pequeños manantiales cuyo principal es el Pasto Grande, de 450 l/s. Luego de atravesar el abra Misti-Pichu Pichu con fuerte pendiente llega a la localidad del Infiernillo, donde recibe los aportes de las quebradas Tingo y Agua Salada por la margen derecha, y Trampilla, Rinconada, Cacayaco y Killocona por la margen izquierda. Luego del puente de Chiguata, el cauce se torna
                                            encañonado con pendiente moderada; en el puente Sabandía el cauce se amplía y la pendiente se hace suave, hasta su confluencia con el río Postrero en Huasacache, sobre los 2 230 msnm. En este tramo recibe los aportes del río Canchismayo por la izquierda y de los manantiales Las Esmeraldas por la derecha. Esta sub cuenca tiene un área de drenaje de 510 km2, y es la de mayor precipitación en la subcuenca del río Tingo Grande. A lo largo de su cauce, sobre todo en las partes bajas, presenta
                                            pequeños barrajes.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="feature-box feature-box-style-2">
                                        <div class="feature-box-icon">
                                            <i class="fa fa-thermometer-full"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-none">Río Postrero</h4>
                                            <p class="tall">
                                            se forma en el paraje La Cuchilla, de la unión de los ríos Mollebaya y Yarabamba. Es de pequeña longitud, 2 km aproximadamente, discurriendo por un cauce amplio y de pendiente suave hasta su confluencia con el río Andamayo.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="feature-box feature-box-style-2">
                                        <div class="feature-box-icon">
                                            <i class="fa fa-thermometer-full"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-none">Río Mollebaya</h4>
                                            <p class="tall">
                                            se forma por la confluencia de las quebradas Botay y Tuctumpaya (Honda), margen derecha e izquierda, cerca del paraje de Corispaya, sobre los 3 240 msnm. Hasta el paraje La Rebeja, a 3 000 msnm, su cauce es abierto con pendiente moderada.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="feature-box feature-box-style-2">
                                        <div class="feature-box-icon">
                                            <i class="fa fa-thermometer-full"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-none">Río Yarabamba</h4>
                                            <p class="tall">
                                            se forma de la confluencia de los ríos Poroto y Polobaya, margen derecha e izquierda, al noroeste de Polobaya Chico, sobre 2 925 msnm. El río Poroto nace en las cabeceras de Agua Buena, por la unión de las quebradas Quinsapuquio y Peña Blanca. El río Polobaya nace en la Pampa de San José de Uzuña, de la unión de las quebradas Totorani y río Uzuña. Estos ríos son de cauce abierto y pendiente suave hasta su confluencia.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="feature-box feature-box-style-2">
                                        <div class="feature-box-icon">
                                            <i class="fa fa-thermometer-full"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-none">Rio Yura</h4>
                                            <p class="tall">
                                            Después el río Chili recibe los aportes del río Yura por su margen derecha, el cual se origina de los deshielos del Nevado Ananta y parte de los Nevados Chucura y Ananto, así como de precipitaciones de verano en la parte alta. En la parte alta el cauce es encañonado y de pendiente fuerte, recibiendo los aportes del manantial de la quebrada Aguas Calientes, por las márgenes derecha e izquierda respectivamente. En la parte baja, el río Yura recibe aportes de la quebrada Socosani, por la margen izquierda, y Gramadal, por la margen derecha. Hasta la confluencia con el río Vítor la cuenca tiene una extensión de 1 618 km2.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="feature-box feature-box-style-2">
                                        <div class="feature-box-icon">
                                            <i class="fa fa-thermometer-full"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-none">Río Vítor</h4>
                                            <p class="tall">
                                            A partir de la confluencia con el Yura, el río toma el nombre de río Vítor, el cual se extiende hasta la confluencia del río Siguas por su margen derecha, alcanzando una longitud de 80.7 km. Desde sus inicios hasta El Boyadero, el río Vítor corre con cauce abierto y pendiente suave. En este tramo, la agricultura del valle se asienta en ambas márgenes. Desde El Boyadero hasta su confluencia con el río Siguas, en el paraje Huañamarca, sobre los 150 msnm, su cauce se torna profundo y encañonado con pendiente suave. En este tramo no hay agricultura, salvo las pequeñas áreas de riego en los parajes de Huchas y Huañamarca. Este valle ha labrado su cauce en las Pampas Costaneras, tipificándose como valle maduro.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="feature-box feature-box-style-2">
                                        <div class="feature-box-icon">
                                            <i class="fa fa-thermometer-full"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-none">Río Siguas</h4>
                                            <p class="tall">
                                            se forma al confluir los ríos Lluta y Lihualla. Tiene como fuentes de alimentación los deshielos de los Nevados Ampato y Sabancaya y parte del Hualca y Ananto, y las precipitaciones pluviales de las partes altas de la cuenca. Estas aguas son captadas en la bocatoma de Pitay y conducidas a la Pampa de Majes. Aguas más abajo, se encuentra la irrigación de Santa Rita de Siguas que recibe una dotación de agua del Proyecto Especial Majes-Siguas. A lo largo del río Siguas se encuentran numerosas tomas para el riego del propio valle, en los distritos de Santa Isabel y San Juan de Siguas.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="feature-box feature-box-style-2">
                                        <div class="feature-box-icon">
                                            <i class="fa fa-thermometer-full"></i>
                                        </div>
                                        <div class="feature-box-info">
                                            <h4 class="mb-none">Río Quilca</h4>
                                            <p class="tall">
                                            se forma al confluir los ríos Vítor y Siguas, en la localidad de Huañamarca y desemboca al Océano Pacífico, cerca del poblado de Quilca, con una longitud de 23,5 km y con una pendiente de 1,48 %.
                                            </p>
                                        </div>
                                    </div>

                                    <p>La Figura 6 ilustra el relieve topográfico de la cuenca.</p>

                                    <div class="pull-left" style="margin-right: 20px">
                                        <a class="img-thumbnail lightbox" href="web/img/caracterizacion/topog.jpg" data-plugin-options='{"type":"image"}'>
                                            <img class="img-responsive" src="web/img/caracterizacion/topog.jpg" width="335" height="208" alt=" Curvas de nivel en la cuenca Quilca-Chili">
                                            <span class="zoom">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </a>
                                    </div>

                                    <p>El rio Quilca-Chili al igual que los ríos de la costa del Perú, presenta ciclos conformado por periodos de abundancia y periodos de escaza disponibilidad, intercalado por un periodo medio donde la disponibilidad resulta generalmente suficiente, para cubrir todas las actuales demandas sectoriales del valle.</p>
                                </div>
                            </div>

                            <hr class="tall">

                            <h2 id="climatica"><strong>Caracterización Climática</strong></h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="lead">
                                        En la cuenca Quilca-Chili se identifican tres zonas térmicas claramente diferenciadas, según la variación altitudinal, observándose diferencias de temperatura y precipitación.
                                    </p>
                                </div>

                                <div class="col-md-12">
                                    <p>El caso de la temperatura (ver Tabla 2) en la cuenca alta es muy baja y se incrementa a medida que desciende latitudinalmente. Los meses de junio a agosto es cuando se alcanza las menores temperaturas.</p>

                                    <!--TODO: Tabla 2. Temperaturas en la cuenca Quilca-Chili -->

                                    <p>Por otro lado, la precipitación es más elevada en las cumbres. Debido a la presencia de la cadena montañosa de los Andes y de la corriente fría de Humboldt en el Océano Pacifico, la precipitación en la zona alta, ubicada entre 15° y 17° de latitud S, es menor a la que debería esperarse para un clima subtropical, es decir altas precipitaciones. Sin embargo, en la zona costera hasta una altitud aproximada de 1 400 msnm, la precipitación es nula o esporádica, debido a la influencia de la corriente fría de Humboldt.</p>
                                    <p>La precipitación anual en la cuenca Quilca-Chili es de 274 mm en promedio. Por lo que se refiere a la distribución mensual de la precipitación, se verifica una concentración del 60-80 % de la precipitación anual en los meses de diciembre a marzo; en general, el porcentaje es mayor en altitudes menores, lo cual determina también una mayor fluctuación de las descargas durante el año en cuencas de menor altitud.</p>

                                    <!--TODO: Tabla 3. Precipitaciones registradas en la cuenca Quilca-Chili -->

                                    <p>La humedad es muy baja y llega al 50 %. Debido a la alta radiación solar, la evaporación es 4 a 6 veces mayor que la precipitación. La evaporación tiende a disminuir al aumentar la altura sobre el nivel del mar, según se muestra en la Tabla 4. En general, se registra un clima seco, árido y de intensa radiación solar, con vientos entre 6 y 20 m/s.</p>

                                    <!--TODO Tabla 4. Evaporación anual registrada en la cuenca Quilca-Chili -->

                                </div>
                            </div>


                            <hr class="tall">

                            <h2 id="geologica"><strong>Caracterización Geológica</strong></h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left" style="margin-right: 20px">
                                        <a class="img-thumbnail lightbox" href="web/img/caracterizacion/geologica.jpg" data-plugin-options='{"type":"image"}'>
                                            <img class="img-responsive" src="web/img/caracterizacion/geologica.jpg" width="335" height="208" alt="Características Topográficas y Fisiográficas">
                                            <span class="zoom">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <p class="lead">
                                        El área de estudio presenta una topografía muy variada. En la parte de su naciente es una planicie de relieve suave con poca inclinación y con presencia de elevaciones de poca altitud, observándose además, tramos con presencia de barrancos de gran profundidad y algunos prácticamente inaccesibles, en el cual se pueden observar grandes derrumbes.
                                    </p>

                                    <p>. El recorrido de Arequipa a Palca se realiza a través del Batolito de la Caldera que es de relieve muy accidentado y a las Pampas de La Estrella y Añashuayco, que están formadas por depósitos volcánicos de relieve suave con ausencia de elevaciones y de poca inclinación. Las unidades hidrogeológicas que destacan en el valle son las siguientes:</p>
                                </div>
                            </div>
                            <hr class="tall">


                            <h2 id="suelo"><strong>Caracterización de Usos de Suelo</strong></h2>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="heading heading-border heading-middle-border">
                                        <h4 class="heading-primary">Cuenca Baja o Valle</h4>
                                    </div>

                                    <p>Esta es la zona donde predominan las áreas bajo riego.</p>
                                    <p>En mayor proporción se encuentran las áreas ocupadas por arroz, caña de azúcar, y policultivo; también se ubican áreas de bosque seco estacional en la margen derecha del canal Taymi.</p>
                                </div>

                                <div class="col-md-4">

                                    <div class="heading heading-border heading-middle-border">
                                        <h4 class="heading-primary">Cuenca Media</h4>
                                    </div>

                                    <p>La cuenca media se caracteriza porque existen apreciables áreas con vegetación arbustiva, casi en igual proporción cultivos de secano, así como considerables áreas de terreno desnudo. En pequeña proporción pastos naturales y muy pocas áreas de cultivo con riego.</p>
                                </div>

                                <div class="col-md-4">

                                    <div class="heading heading-border heading-middle-border">
                                        <h4 class="heading-primary">Cuenca Alta</h4>
                                    </div>

                                    <p>Casi toda la totalidad de la cuenca alta está ocupada por cultivos de secano y pastos naturales. Existen pequeñas áreas con bosque denso y menos todavía áreas de cultivo con riego. Aquí se resalta el uso minero, caracterizado por la Minera La Zanja SRL y el uso agropecuario.</p>
                                </div>
                            </div>

                            <hr class="tall">


                            <h2 id="biotica"><strong>Caracterización Biótica</strong></h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <span class="img-thumbnail center-block">
                                        <img class="img-responsive" src="web/img/caracterizacion/especie.jpg" alt="Características Biótica" width="100%">
                                    </span>
                                    <br />
                                </div>

                                <div class="col-md-6">
                                     <h4 class="heading-tertiary">Áreas protegidas según el SERNANP</h4>

                                     <ul class="list list-icons list-primary">
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Área de Conservación Privada Chaparrí</li>
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Zona Reservada de Chancay Baños</li>
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Zona Reservada de Udima</li>
                                    </ul>

                                </div>

                                <div class="col-md-6">
                                    <h4 class="heading-tertiary">Desembocaduras del río Reque</h4>

                                    <p>La desembocadura de este río suele encontrarse bloqueada por dunas, lo que permite la formación de un complejo de lagunas (humedal) que abarca aproximadamente un área de 150 ha. (Carbajal, W. et al., 2005). Este ecosistema lagunar, al igual que los humedales de la ciudad de Eten, son importantes para ciertas aves migratorias y aves de la zona, ya que sirven de descanso y alimentación.</p>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="heading-tertiary">Pastos de alta montaña</h4>

                                    <p>Se trata de las zonas productoras y captadoras de agua, indispensables para la recarga de acuíferos y para contar con flujos más constantes. No están reguladas ni protegidas y están amenazadas por actividades como el sobrepastoreo, las quemas, la erosión, la construcción de embalses, entre otras.</p>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="heading-tertiary">Especies de fauna acuática</h4>

                                    <p>Especies encontradas en la cuenca como: Pimelodellayuncensis-"bagre",Aequidensrivulatus-"mojarra" (Günther-1860), Bryconatrocaudatus - "cascafe" (Kner-1863),Leblasinabimaculata-"chalcoca" (Valenciennes-1847), Trychomycteruspunctulatus - "life" (Valenciennes-1846), Cryphiopscaementarius - "camaron nativo" (Molina-1762)</p>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="heading-tertiary">Áreas no protegidas</h4>

                                    <p>En toda la cuenca existen diversas zonas que no están protegidas, ni siquiera reguladas, pero que tienen un valor ambiental importante y que deberían ser preservadas.</p>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="heading-tertiary">Riberas y nacientes</h4>

                                    <p>Es importante proteger las riberas y reforestar las zonas que se encuentran degradadas, para prevenir riesgos naturales y dar consistencia a estos ecosistemas y los corredores biológicos naturales. Asimismo, las zonas puquiales o nacientes que se encuentran degradados deben ser recuperados.</p>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="heading-tertiary">Lagunas</h4>

                                    <p>Ciertas lagunas podrían estar protegidas, reconociendo su importante aporte a la cuenca hidrográfica como zonas de producción de recursos hídricos que además, están amenazadas por el cambio climático. En la cuenca se han inventariado 20 lagunas y destacan: Mishacocha, Tantahuatay, Yanacocha, Alforjacocha, Lejiacocha, Morococha, La Aurora, Oscura y Clara de Mishahuanga.</p>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="heading-tertiary">Especies exóticas</h4>

                                    <p>Desde la construcción del reservorio de Tinajones, especies como la "tilpia" (Tilapia rendalli y Tilapianiloticus) y las "carpas comunes" (Cypirinuscarpio) y "plateadas" (Hypopthalmichthysmolitrix) han invadido la parte baja de la cuenca, lo que ha supuesto un gran problema para especies nativas que se han visto desplazadas.</p>
                                </div>
                            </div>

                            <hr class="tall">


                            <h2 id="hidrico"><strong>Caracterización de los Recursos Hídricos</strong></h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <span class="img-thumbnail center-block">
                                        <img class="img-responsive" src="web/img/caracterizacion/rh.jpg" alt="Características Biótica" width="100%">
                                    </span>
                                    <br />
                                </div>

                                <div class="col-md-6">
                                     <h4 class="heading-tertiary">Recursos Hídricos Superficiales</h4>

                                     <ul class="list list-icons list-primary">
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Rio Chancay-Lambayeque</li>
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Río Chotano</li>
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Río Conchano</li>
                                        <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Rio Chancay-Lambayeque con Trasvases Chotano y Conchano</li>
                                    </ul>

                                </div>

                                <div class="col-md-6">
                                    <h4 class="heading-tertiary">Recursos Hídricos Subterráneos</h4>

                                    <p>El acuífero Chancay-Lambayeque se considera superficialmente formado por una zona de cabecera comprendida desde la bocatoma Raca Rumi hasta el partidor La Puntilla.</p>
                                    <p>Se estiman como reservas geológicas un volumen de 683 MMC y como reservas explotables hasta 341 MMC.</p>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="heading-tertiary">Oferta hídrica en la cuenca baja</h4>

                                    <p>La oferta hídrica en términos medios, sin contar el almacenamiento inicial en el embalse Tinajones, es de 1173,70 MMC y comprende los recursos hídricos superficiales, subterráneos y agua de retorno. Los recursos hídricos provenientes de los ríos, quebradas y manantiales existentes en las partes medias y altas de la cuenca son utilizados para complementar el riego de los cultivos en la campaña principal.</p>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="heading-tertiary">Recursos Hídricos en la cuenca media y alta</h4>

                                    <p>Las áreas ubicadas en la parte media y alta de la cuenca de gestión Chancay-Lambayeque tienen como fuente de abastecimiento los recursos hídricos superficiales provenientes del río principal Chancay-Lambayeque, de sus 24 ríos secundarios, de sus 186 quebradas importantes importantes y otras 434 quebradas naturales, los afluentes de los trasvases de los túneles de los ríos Chotano y Conchano, además de los puquios existentes en las microcuencas.</p>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="heading-tertiary">Aguas servidas tratadas</h4>

                                    <p>En toda la cuenca Chancay-Lambayeque no existe oficialmente uso de aguas servidas tratadas, es decir, que dichas aguas formen parte del balance hídrico que realiza la Junta de Usuarios de Chancay-Lambayeque en el Plan Anual de Operación del Sistema Tinajones.</p>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="heading-tertiary">Aguas de retorno</h4>

                                    <p>Las aguas de retorno se estiman en 61,0 MMC, obtenidos sobre la base de estudios realizados por la entonces Dirección General de Agua y Suelo DGAS, en 1989, y que, según esta fuente, fueron medidos en el periodo 1956-1960. Este volumen de agua de recuperación data de antes del funcionamiento de los túneles Chotano y Conchano.</p>
                                </div>
                            </div>

                            <br />


{% endblock %}
