{% extends '../layouts/caracterizacion.njk' %}

{% block pageHeader %}
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Caracterización</a></li>
									<li class="active">Socieconómica y Cultural</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Caracterización Socieconómica y Cultural</h1>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block content %}

> Población

En los últimos 67 años se ha producido un significativo incremento poblacional. La población total del valle en 2007 es 5,7 veces mayor que la de 1940, 3,2 veces mayor que la existente en 1961, 2,1 veces mayor que la que había en 1972, 1,6 veces mayor que la de 1981 y 1,2 veces mayor que la población total de 1993.
La población de Chiclayo es 7,8 veces la de Ferreñafe, la menos poblada del departamento, y 2,9 veces la población de la provincia de Lambayeque.


En los últimos 67 años, entre los censos de 1940 y 2007, mientras la población censada creció 5,8 veces, la población urbana ha aumentado en cerca de 9 veces. En contraste, la población rural ha crecido en algo más de 2 veces. En cifras absolutas, la población del área urbana continúa aumentando; sin embargo, su velocidad de crecimiento viene disminuyendo desde mediados de la década del 60. Entre los censos de 1961 y 1972, el incremento de la población humana fue de 5,3 % por año. Este ritmo disminuyó a 3,7 % anual en el periodo intercensal 1972-1981, a 2,6 % en el periodo 1981-1993 y a 1,6 % en el periodo 1993-2007.

{% endblock %}
