{% extends '../layouts/caracterizacion.njk' %}

{% block pageHeader %}
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Caracterización</a></li>
									<li class="active">Biofísica</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Caracterización Biofísica</h1>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block content %}
							<h2 id="ubicacion"><strong>Ubicación y Extensión</strong> </h2>

							<div class="row">
								<div class="col-md-12">
									<p class="lead">
										La cuenca hidrográfica del río Chancay-Lambayeque está ubicada en la costa norte del Perú y constituye una de las cuencas más importantes de la vertiente Pacífico.
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<p>Geograficamente, está situada entre los paralelos 06o21'12" y 06o57'09" de latitud sur, y 80o10'39" y 78o32'17" de longitud oeste.</p>
									<p>Políticamente, abarca parte de los departamentos de Lambayeque y Cajamarca. En el primero, cubre parte de sus 3 provincias (Chiclayo, Lambayeque y Ferreñafe), y en el segundo, 4 de sus provincias (Chota, Santa Cruz, San Miguel y Hualgayoc).</p>
									<div class="pull-left" style="margin-right: 20px">
										<a class="img-thumbnail lightbox" href="web/img/caracterizacion/mpc.jpg" data-plugin-options='{"type":"image"}'>
											<img class="img-responsive" src="web/img/caracterizacion/mpc.jpg" width="335" height="208" alt="Características Topográficas y Fisiográficas">
											<span class="zoom">
												<i class="fa fa-search"></i>
											</span>
										</a>
									</div>
									<p>La cuenca se encuentra en el ámbito administrativo de la Autoridad Admnistrativa del Agua (AAA) Jequetepeque-Zarumilla, que tiene como jurisdicción las Administraciones Locales de Agua (ALA) de Jequetepeque, Zaña, Chancay-Lambayeque, Motupe Olmos-La Leche, Medio y Bajo Piura, Alto Piura, Chira, San Lorenzo y Tumbes.</p>
									<p>La cuenca limita al norte con las del río Motupe y Chamaya; por el sur, con las cuencas del río Zaña, Jequetepeque y la intercuenca 137759; por el este, con la intercuenca Alto Marañón IV; y por el oeste, con el océano Pacífico.</p>
								</div>
							</div>

							<hr class="tall">

							<h2 id="topografia"><strong>Características Topográficas y Fisiográficas</strong></h2>

							<div class="row">
								<div class="col-md-12">
									<p class="lead">
										La cuenca Chancay Lambayeque nace de 4 lagunas interconectadas situadas en la cordillera occidental de los Andes: la laguna Morococha, ubicada a 3797 msnm; la Lejiacocha, ubicada a 3776 msnm; la Alforjacocha, ubicada a 3772 msnm; y la Misachocha, ubicada a 3746 msnm.
									</p>
								</div>
							</div>


							<div class="row">
								<div class="col-md-12">
									<div class="pull-left" style="margin-right: 20px">
										<a class="img-thumbnail lightbox" href="web/img/caracterizacion/topog.jpg" data-plugin-options='{"type":"image"}'>
											<img class="img-responsive" src="web/img/caracterizacion/topog.jpg" width="335" height="208" alt="Características Topográficas y Fisiográficas">
											<span class="zoom">
												<i class="fa fa-search"></i>
											</span>
										</a>
									</div>
									<p>Tiene una superficie de 5555,49 km2, una altitud media de 1622 msnm y una pendiente media del orden del 35%; de acuerdo con su curva hipsométrica, corresponde a un río maduro. Su factor de forma es de 0,27, lo que indica que tiene buena respuesta a las crecidas. Además, su coeficiente de compacidad es de 1,92, que corresponde a cuencas de forma alargada.</p>
									<p>La mayor parte del microrrelieve es plana; menos de 0,5% de la superficie de las tierras es ligeramente ondulado y menos del 0,2% son tierras onduladas, lo que revela la poca o nula necesidad de realizar movimientos considerables de tierra destinados a efectuar nivelaciones.</p>
									<p>Fisográficamente, en el valle se distinguen hasta 6 paisajes principales:</p>

									<ul class="list list-icons list-primary">
										<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Paisaje del valle encañonado (aproximadamente 53 000 Ha)</li>
									    <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300"><i class="fa fa-check"></i> Paisaje de la llanura aluvial (aproxidamente 147 000 Ha)</li>
									    <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fa fa-check"></i> Paisaje de abanicos aluviales locales (aproximadamente 16 200 Ha)</li>
									    <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900"><i class="fa fa-check"></i> Paisaje de médanos (aproximadamente 21 000 Ha)</li>
									    <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1200"><i class="fa fa-check"></i> Paisaje de formaciones eólicas (9500 Ha)</li>
									    <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1500"><i class="fa fa-check"></i> Paisaje de terrenos litorales (aproximadamente 3300 Ha)</li>
									</ul>
								</div>
							</div>

							<hr class="tall">

							<h2 id="climatica"><strong>Caracterización Climática</strong></h2>

							<div class="row">
								<div class="col-md-12">
									<p class="lead">
										La cuenca Chancay Lambayeque nace de 4 lagunas interconectadas situadas en la cordillera occidental de los Andes: la laguna Morococha, ubicada a 3797 msnm; la Lejiacocha, ubicada a 3776 msnm; la Alforjacocha, ubicada a 3772 msnm; y la Misachocha, ubicada a 3746 msnm.
									</p>
								</div>

								<div class="col-md-12">
									<span class="img-thumbnail center-block">
										<img class="img-responsive" src="web/img/caracterizacion/clima.jpg" alt="Características Climática" width="100%">										
									</span>
									<br />
									<br />
								</div>
							</div>


							<div class="row">
								<div class="col-md-12">
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="fa fa-thermometer-full"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="mb-none">Temperatura</h4>
											<p class="tall">
											Comparando los promedios mensuales de las temperaturas del aire en las estaciones meteorológicas existentes en la zona de la cuenca, se puede apreciar en la costa
     										(Lambayeque, a 10 km del Pacífico) temperaturas algo más bajas que en Tinajones (105 km de la costa del Pacífico). Igualmente, se reducen las temperaturas medias
     										mensuales a medida que aumenta la altura sobre el nivel del mar. Entonces, las temperaturas medias anuales en Lambayeque ascienden aproximadamente a 21°C, en Tinajones a 23°C
     										y en Bambamarca (2500 msnm) a 14,6°C. <!--span class="alternative-font">metus.</span--></p>
										</div>
									</div>
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="fa fa-umbrella"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="mb-none">Precipitación</h4>
											<p class="tall">
											Las precipitaciones totales anuales en la franja costera (con 20,3 mm en Lambayeque) representan el mínimo y alcanzan los valores máximos en la zona alta de Chancay
					                         (1677,5 mm en Santa Catalina de Pulán). Las reducidas precipitaciones en la costa (Lambayeque, Tinajones) se producen, sobre todo, entre los meses de febrero y marzo. En las
					                         estaciones pluviométricas de la sierra, el primer máximo de la época de lluvias es registrado en los meses de octubre y noviembre y las precipitaciones fuertes se producen entre
					                         febrero y marzo.
											</p>
										</div>
									</div>
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="fa fa-tint"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="mb-none">Humedad Relativa</h4>
											<p class="tall">
												La costa posee el más alto promedio anual y mensual de humedad relativa del aire. Así, Lambayeque tiene un promedio anual del 82% aproximado. Los meses de noviembre hasta abril
					                             son los más secos, con el 78 al 80%. El promedio anual más bajo de la humedad relativa lo tiene Tinajones, con aproximadamente el 67%.
					                             En el valle del Chancay aumenta poco al principio (Santa Cruz, 68%) y alcanza en el valle de los ríos Chotano y LLaucano (Cochabamba y Bambamarca) valores entre el 70 y 80%. Una
					                             humedad relativa aún mayor que en la costa debe esperarse en los bosques nebulosos, no precisándose valores por la falta de mediciones.
											</p>
										</div>
									</div>
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="fa fa-cloud"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="mb-none">Evaporación</h4>
											<p class="tall">
											Considerando la poca humedad relativa del aire, Tinajones tiene con 6,7 mm/día los mayores valores de evaporación; en la costa debido a la alta humedad relativa del aire, solo
					                         se registra una evaporación diaria de aproximadamente de 4 mm, En la cuenca alta la evaporación oscila, por lo general, entre 2 y 4 mm/día. Solamente en Cochabamba la temperatura
					                         media anual algo más elevada se traduce en un mayor valor de evaporación (4,6 mm/día en promedio).
											</p>
										</div>
									</div>
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="fa fa-sun-o"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="mb-none">Horas de Sol</h4>
											<p class="tall">
											La duración media diaria de la radiación solar es de alrededor de 10 horas en la mayor parte del año. En tiempo de lluvia, baja a valores de entre 4 y 6 horas diarias.
											</p>
										</div>
									</div>
									<div class="feature-box feature-box-style-2">
										<div class="feature-box-icon">
											<i class="fa fa-bolt"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="mb-none">Clima</h4>
											<p class="tall">
											El clima de la zona de riego del Sistema Tinajones es seco y subtropical. Está formado bajo los efectos de la corriente fría de Humboldt, motivo por el cual la temperatura y
					                         precipitación de la zona son considerablemente más bajas que las que se debe esperar en esta latitud geográfica, ya que también está condicionado por su ubicación en la costa occidental del
					                         continente sudamericano (6° de latitud sur). Periódica y coincidentemente con la estación de verano, se presenta el Fenómeno ENOS (El Niño Oscilación del Sur), que causa intensas precipitaciones.
											</p>
										</div>
									</div>
								</div>
							</div>

							<hr class="tall">

							<h2 id="geologica"><strong>Caracterización Geológica</strong></h2>

							<div class="row">
								<div class="col-md-12">
									<div class="pull-left" style="margin-right: 20px">
										<a class="img-thumbnail lightbox" href="web/img/caracterizacion/geologica.jpg" data-plugin-options='{"type":"image"}'>
											<img class="img-responsive" src="web/img/caracterizacion/geologica.jpg" width="335" height="208" alt="Características Topográficas y Fisiográficas">
											<span class="zoom">
												<i class="fa fa-search"></i>
											</span>
										</a>
									</div>
									<p class="lead">
										La cuenca Chancay Lambayeque nace de 4 lagunas interconectadas situadas en la cordillera occidental de los Andes: la laguna Morococha, ubicada a 3797 msnm; la Lejiacocha, ubicada a 3776 msnm; la Alforjacocha, ubicada a 3772 msnm; y la Misachocha, ubicada a 3746 msnm.
									</p>
								</div>
							</div>
							<hr class="tall">


							<h2 id="suelo"><strong>Caracterización de Usos de Suelo</strong></h2>

							<div class="row">
								<div class="col-md-4">
									<div class="heading heading-border heading-middle-border">
										<h4 class="heading-primary">Cuenca Baja o Valle</h4>
									</div>

									<p>Esta es la zona donde predominan las áreas bajo riego.</p>
									<p>En mayor proporción se encuentran las áreas ocupadas por arroz, caña de azúcar, y policultivo; también se ubican áreas de bosque seco estacional en la margen derecha del canal Taymi.</p>
								</div>

								<div class="col-md-4">
									<div class="heading heading-border heading-middle-border">
										<h4 class="heading-primary">Cuenca Media</h4>
									</div>

									<p>La cuenca media se caracteriza porque existen apreciables áreas con vegetación arbustiva, casi en igual proporción cultivos de secano, así como considerables áreas de terreno desnudo. En pequeña proporción pastos naturales y muy pocas áreas de cultivo con riego.</p>
								</div>

								<div class="col-md-4">
									<div class="heading heading-border heading-middle-border">
										<h4 class="heading-primary">Cuenca Alta</h4>
									</div>

									<p>Casi toda la totalidad de la cuenca alta está ocupada por cultivos de secano y pastos naturales. Existen pequeñas áreas con bosque denso y menos todavía áreas de cultivo con riego. Aquí se resalta el uso minero, caracterizado por la Minera La Zanja SRL y el uso agropecuario.</p>
								</div>
							</div>

							<hr class="tall">


							<h2 id="biotica"><strong>Caracterización Biótica</strong></h2>

							<div class="row">
								<div class="col-md-12">
									<span class="img-thumbnail center-block">
										<img class="img-responsive" src="web/img/caracterizacion/especie.jpg" alt="Características Biótica" width="100%">
									</span>										
									<br />
								</div>

								<div class="col-md-6">
									 <h4 class="heading-tertiary">Áreas protegidas según el SERNANP</h4>

									 <ul class="list list-icons list-primary">
										<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Área de Conservación Privada Chaparrí</li>
										<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Zona Reservada de Chancay Baños</li>
										<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Zona Reservada de Udima</li>
									</ul>
									
								</div>

								<div class="col-md-6">
									<h4 class="heading-tertiary">Desembocaduras del río Reque</h4>

									<p>La desembocadura de este río suele encontrarse bloqueada por dunas, lo que permite la formación de un complejo de lagunas (humedal) que abarca aproximadamente un área de 150 ha. (Carbajal, W. et al., 2005). Este ecosistema lagunar, al igual que los humedales de la ciudad de Eten, son importantes para ciertas aves migratorias y aves de la zona, ya que sirven de descanso y alimentación.</p>
								</div>

								<div class="col-md-6">
									<h4 class="heading-tertiary">Pastos de alta montaña</h4>

									<p>Se trata de las zonas productoras y captadoras de agua, indispensables para la recarga de acuíferos y para contar con flujos más constantes. No están reguladas ni protegidas y están amenazadas por actividades como el sobrepastoreo, las quemas, la erosión, la construcción de embalses, entre otras.</p>
								</div>

								<div class="col-md-6">
									<h4 class="heading-tertiary">Especies de fauna acuática</h4>

									<p>Especies encontradas en la cuenca como: Pimelodellayuncensis-"bagre",Aequidensrivulatus-"mojarra" (Günther-1860), Bryconatrocaudatus - "cascafe" (Kner-1863),Leblasinabimaculata-"chalcoca" (Valenciennes-1847), Trychomycteruspunctulatus - "life" (Valenciennes-1846), Cryphiopscaementarius - "camaron nativo" (Molina-1762)</p>
								</div>

								<div class="col-md-6">
									<h4 class="heading-tertiary">Áreas no protegidas</h4>

									<p>En toda la cuenca existen diversas zonas que no están protegidas, ni siquiera reguladas, pero que tienen un valor ambiental importante y que deberían ser preservadas.</p>
								</div>

								<div class="col-md-6">
									<h4 class="heading-tertiary">Riberas y nacientes</h4>

									<p>Es importante proteger las riberas y reforestar las zonas que se encuentran degradadas, para prevenir riesgos naturales y dar consistencia a estos ecosistemas y los corredores biológicos naturales. Asimismo, las zonas puquiales o nacientes que se encuentran degradados deben ser recuperados.</p>
								</div>

								<div class="col-md-6">
									<h4 class="heading-tertiary">Lagunas</h4>

									<p>Ciertas lagunas podrían estar protegidas, reconociendo su importante aporte a la cuenca hidrográfica como zonas de producción de recursos hídricos que además, están amenazadas por el cambio climático. En la cuenca se han inventariado 20 lagunas y destacan: Mishacocha, Tantahuatay, Yanacocha, Alforjacocha, Lejiacocha, Morococha, La Aurora, Oscura y Clara de Mishahuanga.</p>
								</div>

								<div class="col-md-6">
									<h4 class="heading-tertiary">Especies exóticas</h4>

									<p>Desde la construcción del reservorio de Tinajones, especies como la "tilpia" (Tilapia rendalli y Tilapianiloticus) y las "carpas comunes" (Cypirinuscarpio) y "plateadas" (Hypopthalmichthysmolitrix) han invadido la parte baja de la cuenca, lo que ha supuesto un gran problema para especies nativas que se han visto desplazadas.</p>
								</div>
							</div>

							<hr class="tall">


							<h2 id="hidrico"><strong>Caracterización de los Recursos Hídricos</strong></h2>

							<div class="row">
								<div class="col-md-12">
									<span class="img-thumbnail center-block">
										<img class="img-responsive" src="web/img/caracterizacion/rh.jpg" alt="Características Biótica" width="100%">
									</span>										
									<br />
								</div>

								<div class="col-md-6">
									 <h4 class="heading-tertiary">Recursos Hídricos Superficiales</h4>

									 <ul class="list list-icons list-primary">
										<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Rio Chancay-Lambayeque</li>
										<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Río Chotano</li>
										<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Río Conchano</li>
										<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Rio Chancay-Lambayeque con Trasvases Chotano y Conchano</li>
									</ul>
									
								</div>

								<div class="col-md-6">
									<h4 class="heading-tertiary">Recursos Hídricos Subterráneos</h4>

									<p>El acuífero Chancay-Lambayeque se considera superficialmente formado por una zona de cabecera comprendida desde la bocatoma Raca Rumi hasta el partidor La Puntilla.</p>
									<p>Se estiman como reservas geológicas un volumen de 683 MMC y como reservas explotables hasta 341 MMC.</p>
								</div>

								<div class="col-md-6">
									<h4 class="heading-tertiary">Oferta hídrica en la cuenca baja</h4>

									<p>La oferta hídrica en términos medios, sin contar el almacenamiento inicial en el embalse Tinajones, es de 1173,70 MMC y comprende los recursos hídricos superficiales, subterráneos y agua de retorno. Los recursos hídricos provenientes de los ríos, quebradas y manantiales existentes en las partes medias y altas de la cuenca son utilizados para complementar el riego de los cultivos en la campaña principal.</p>
								</div>

								<div class="col-md-6">
									<h4 class="heading-tertiary">Recursos Hídricos en la cuenca media y alta</h4>

									<p>Las áreas ubicadas en la parte media y alta de la cuenca de gestión Chancay-Lambayeque tienen como fuente de abastecimiento los recursos hídricos superficiales provenientes del río principal Chancay-Lambayeque, de sus 24 ríos secundarios, de sus 186 quebradas importantes importantes y otras 434 quebradas naturales, los afluentes de los trasvases de los túneles de los ríos Chotano y Conchano, además de los puquios existentes en las microcuencas.</p>
								</div>

								<div class="col-md-6">
									<h4 class="heading-tertiary">Aguas servidas tratadas</h4>

									<p>En toda la cuenca Chancay-Lambayeque no existe oficialmente uso de aguas servidas tratadas, es decir, que dichas aguas formen parte del balance hídrico que realiza la Junta de Usuarios de Chancay-Lambayeque en el Plan Anual de Operación del Sistema Tinajones.</p>
								</div>

								<div class="col-md-6">
									<h4 class="heading-tertiary">Aguas de retorno</h4>

									<p>Las aguas de retorno se estiman en 61,0 MMC, obtenidos sobre la base de estudios realizados por la entonces Dirección General de Agua y Suelo DGAS, en 1989, y que, según esta fuente, fueron medidos en el periodo 1956-1960. Este volumen de agua de recuperación data de antes del funcionamiento de los túneles Chotano y Conchano.</p>
								</div>
							</div>

							<br />


{% endblock %}
