{% extends '../layouts/tematicas_layout.njk' %}

{% block pageHeader %}
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Documentación</a></li>
									<li class="active">Novedades</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Novedades</h1>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block content %}

				<div id="novedades-container">
                </div>
                <ul id="pagination" class="pagination pagination-lg pull-right">
				</ul>
                 <script src="novedades.js"></script>
{% endblock %}
