{% extends '../layouts/tematicas_layout.njk' %}

{% block pageHeader %}
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Documentación</a></li>
									<li class="active">Novedades</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Novedades</h1>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block content %}

				<div class="row">
					<div class="col-md-3">
						<div class="div-bg-img img-thumbnail"  style="background-image: url(web/img/slides/mapa-bg-verde.jpg);"></div>
					</div>

					<div class="col-md-9">

						<div class="portfolio-info">
							<div class="row">
								<div class="col-md-12 center">
									<ul>
										<li>
											<a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
										</li>
										<li>
											<i class="fa fa-calendar"></i> 21 November 2013
										</li>
										<li>
											<i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<h4 class="heading-primary">Project <strong>Description</strong></h4>
						<p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

						<a href="#" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Live Preview</a> <span class="arrow hlb appear-animation" data-appear-animation="rotateInUpLeft" data-appear-animation-delay="800"></span>

					</div>
				</div>

				<hr class="tall">

				<div class="row">
					<div class="col-md-3">
						<div class="div-bg-img img-thumbnail"  style="background-image: url(web/img/slides/mapa-bg-verde.jpg);"></div>
					</div>

					<div class="col-md-9">

						<div class="portfolio-info">
							<div class="row">
								<div class="col-md-12 center">
									<ul>
										<li>
											<a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
										</li>
										<li>
											<i class="fa fa-calendar"></i> 21 November 2013
										</li>
										<li>
											<i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<h4 class="heading-primary">Project <strong>Description</strong></h4>
						<p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

						<a href="#" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Live Preview</a> <span class="arrow hlb appear-animation" data-appear-animation="rotateInUpLeft" data-appear-animation-delay="800"></span>

					</div>
				</div>

				<hr class="tall">

				<div class="row">
					<div class="col-md-3">
						<div class="div-bg-img img-thumbnail"  style="background-image: url(web/img/slides/mapa-bg-verde.jpg);"></div>
					</div>

					<div class="col-md-9">

						<div class="portfolio-info">
							<div class="row">
								<div class="col-md-12 center">
									<ul>
										<li>
											<a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
										</li>
										<li>
											<i class="fa fa-calendar"></i> 21 November 2013
										</li>
										<li>
											<i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<h4 class="heading-primary">Project <strong>Description</strong></h4>
						<p class="mt-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

						<a href="#" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Live Preview</a> <span class="arrow hlb appear-animation" data-appear-animation="rotateInUpLeft" data-appear-animation-delay="800"></span>

					</div>
				</div>
{% endblock %}
