{% extends '../layouts/tematicas_layout.njk' %}

{% block pageHeader %}
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Documentación</a></li>
									<li class="active">Documentos</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Documentos</h1>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block content %}

				<div class="blog-posts">
					<div  id="documentos-container">
                    </div>

					<ul id="pagination" class="pagination pagination-lg pull-right">
					</ul>
				</div>
                 <script src="documentos.js"></script>
{% endblock %}
