<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="theme-color" content="#1A354A">

		<title>Observatorio de la Cuenta Chancay Lambayeque - PERÚ</title>

		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="web/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="web/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="web/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="web/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="web/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="web/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="web/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="web/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="web/css/theme.css">
		<link rel="stylesheet" href="web/css/theme-elements.css">
		<link rel="stylesheet" href="web/css/theme-blog.css">
		<link rel="stylesheet" href="web/css/theme-shop.css">
		<link rel="stylesheet" href="web/css/theme-animate.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="web/vendor/rs-plugin/css/settings.css" media="screen">
		<link rel="stylesheet" href="web/vendor/rs-plugin/css/layers.css" media="screen">
		<link rel="stylesheet" href="web/vendor/rs-plugin/css/navigation.css" media="screen">
		<link rel="stylesheet" href="web/vendor/circle-flip-slideshow/css/component.css" media="screen">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="web/css/skins/default.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="web/css/custom.css">

		<!-- Head Libs -->
		<script src="web/vendor/modernizr/modernizr.min.js"></script>

	</head>
	<body>

		<div class="body">
			{% include '../partials/header.njk' %}

			<div role="main" class="main">

				{% include '../partials/slider.njk' %}

				<div class="home-intro light">
					<div class="container">

						<div class="row">
							<div class="col-md-8">
								<p>
									Bienvenidos al observatorio de la cuenca <em>Chancay - Lambayeque</em>
									<span>Navega sobre nuestra portal y mira todo lo nuevo que tenemos para ti.</span>
								</p>
							</div>
							<div class="col-md-4">
								<div class="get-started">
									<a href="visor.html" class="btn btn-lg btn-primary">Visor de Mapas</a>
									<div class="learn-more">o <a target="_blank" href="http://www.arcgis.com/apps/webappviewer/index.html?id=31a23884671743bb823500b441665202">Modelo Weap</a></div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="container">
					<div class="row center">
						<div class="col-md-12">
							<h1 class="word-rotator-title mb-sm">
								En el Observatorio de la Cuenta Chancay-Lambayeque podemos
								<strong class="inverted">
									<span class="word-rotate" data-plugin-options='{"delay": 2000}'>
										<span class="word-rotate-items">
											<span>aprender</span>
											<span>informar</span>
											<span>difundir</span>
										</span>
									</span>
								</strong>
								via nuestras distintas secciones.
							</h1>
							<p class="lead">
								Organizado a través de importantes secciones que determinaran lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo.
							</p>
						</div>
					</div>
					<div class="row mt-xlg">
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="fa fa-group"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="heading-primary mb-xs">Caracterización</h4>
									<p>La cuenca Chancay Lambayeque nace de 4 lagunas interconectadas situadas en la cordillera occidental de los Andes: la laguna Morococha, la Lejiacocha, la Alforjacocha y la Misachocha.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="fa fa-film"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="heading-primary mb-xs">Temáticas</h4>
									<p>La cuenca Chancay Lambayeque pone a disposición distintos servicios web de mapas organizados por temáticas para su facil navegación, comprensión y busqueda. <br/><a href >Ver Visor de Mapas</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="fa fa-bars"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="heading-primary mb-xs">Modelo Weap</h4>
									<p>El  <span class="alternative-font">modelo WEAP</span> para la cuenca Chancay - Lambayeque, representa la gestión del agua en la cuenca y los procesos hidrológicos que se dan en ella. <br/><a href="http://www.arcgis.com/apps/webappviewer/index.html?id=31a23884671743bb823500b441665202" >Conocer mas..</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<section class="section section-default">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<h2 class="mt-lg">Observatorio de la Cuenca <br/><strong>Chancay - Lambayeque</strong></h2>
								<p class="lead">
									El observatorio de la Cuenca Chancay-Lambayeque se crea con la finalidad de poner a disposición de los usuarios, la
									información existente sobre la cuenca en distintos campos de conocimiento (ambiental, hidrológico, socio-económico y
									gestión de riesgos). <a href  class="learn-more">Leer mas</a>
								</p>
								
							</div>
							<div class="col-md-6 mt-lg">
								<div class="embed-responsive embed-responsive-16by9">
				                    <iframe frameborder="0" scrolling="no" marginheight="1" marginwidth="1" src="https://maps.google.com.pe/maps/ms?msid=217558796961593721160.0004b157d25d98c163e51&amp;msa=0&amp;hl=es&amp;ie=UTF8&amp;t=h&amp;ll=-6.653695,-79.367981&amp;spn=0.818418,1.452942&amp;z=9&amp;output=embed"></iframe>
				                </div>
							</div>
						</div>
					</div>
				</section>

				<div class="container">
					{% include '../partials/tematicas.njk' %}

					<div class="row">
						<div class="col-md-12">
							<hr class="tall">
						</div>
					</div>

					<div class="row">
						<div class="col-md-12" id="noticias-container">
						</div>
					</div>
				<hr class="tall">

				{% include '../partials/entidades.njk' %}
			</div>

			{% include '../partials/footer.njk' %}
		</div>


		{% include '../partials/scripts.njk' %}
		<script src="pageIndex.js"></script>
	</body>
</html>
