<!DOCTYPE html>
<html>
	{% include '../partials/head.njk' %}
	<body>

		<div class="body">
			{% include '../partials/header.njk' %}

			<div role="main" class="main">

				{% include '../partials/slider.njk' %}

				<div class="home-intro light">
					<div class="container">

						<div class="row">
							<div class="col-md-8">
								<p>
									Bienvenidos al observatorio de la cuenca <em>Chancay - Lambayeque</em>
									<span>Navega sobre nuestra portal y mira todo lo nuevo que tenemos para ti.</span>
								</p>
							</div>
							<div class="col-md-4">
								<div class="get-started">
									<a href="visor.html" class="btn btn-lg btn-primary">Visor de Mapas</a>
									<div class="learn-more">o <a target="_blank" href="http://www.arcgis.com/apps/webappviewer/index.html?id=31a23884671743bb823500b441665202">Modelo Weap</a></div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="container">
					<div class="row center">
						<div class="col-md-12">
							<h1 class="word-rotator-title mb-sm">
								En el Observatorio de la Cuenta Chancay-Lambayeque podemos
								<strong class="inverted">
									<span class="word-rotate" data-plugin-options='{"delay": 2000}'>
										<span class="word-rotate-items">
											<span>aprender</span>
											<span>informar</span>
											<span>difundir</span>
										</span>
									</span>
								</strong>
								via nuestras distintas secciones.
							</h1>
							<p class="lead">
								El Observatorio de la Cuenca Chancay-Lambayeque les da la bienvenida poniendo a sus disposición diferentes servicios organizados por temáticas para un facil acceso y consulta de la información.
							</p>
						</div>
					</div>
					<div class="row mt-xlg">
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="fa fa-group"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="heading-primary mb-xs">Caracterización</h4>
									<p>La cuenca Chancay Lambayeque nace de 4 lagunas interconectadas situadas en la cordillera occidental de los Andes: la laguna Morococha, la Lejiacocha, la Alforjacocha y la Misachocha.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="fa fa-film"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="heading-primary mb-xs">Temáticas</h4>
									<p>La cuenca Chancay Lambayeque pone a disposición distintos servicios web de mapas organizados por temáticas para su facil navegación, comprensión y busqueda. <br/><a href >Ver Visor de Mapas</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-box-icon">
									<i class="fa fa-bars"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="heading-primary mb-xs">Modelo Weap</h4>
									<p>El  <span class="alternative-font">modelo WEAP</span> para la cuenca Chancay - Lambayeque, representa la gestión del agua en la cuenca y los procesos hidrológicos que se dan en ella. <br/><a href="http://www.arcgis.com/apps/webappviewer/index.html?id=31a23884671743bb823500b441665202" >Conocer mas..</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<section class="section section-default">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<h2 class="mt-lg">Observatorio de la Cuenca <br/><strong>Chancay - Lambayeque</strong></h2>
								<p class="lead">
									El observatorio de la Cuenca Chancay-Lambayeque se crea con la finalidad de poner a disposición de los usuarios, la
									información existente sobre la cuenca en distintos campos de conocimiento (ambiental, hidrológico, socio-económico y
									gestión de riesgos). <a href  class="learn-more">Leer mas</a>
								</p>

							</div>
							<div class="col-md-6 mt-lg">
								<div class="embed-responsive embed-responsive-16by9">
				                    <iframe frameborder="0" scrolling="no" marginheight="1" marginwidth="1" src="https://maps.google.com.pe/maps/ms?msid=217558796961593721160.0004b157d25d98c163e51&amp;msa=0&amp;hl=es&amp;ie=UTF8&amp;t=h&amp;ll=-6.653695,-79.367981&amp;spn=0.818418,1.452942&amp;z=9&amp;output=embed"></iframe>
				                </div>
							</div>
						</div>
					</div>
				</section>

				<div class="container">
					{% include '../partials/tematicas.njk' %}

					<div class="row">
						<div class="col-md-12">
							<hr class="tall">
						</div>
					</div>


					<div class="row">
						<div class="col-md-12" id="noticias-container">
						</div>
					</div>

				<hr class="tall">

				{% include '../partials/entidades.njk' %}
			</div>

			{% include '../partials/footer.njk' %}
		</div>


		{% include '../partials/scripts.njk' %}
		<script src="pageIndex.js"></script>
	</body>
</html>
