{% extends '../layouts/tematicas_layout.njk' %}

{% block pageHeader %}
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Temáticas</a></li>
									<li class="active">Hidrológica</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Temática Hidrológica</h1>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block content %}

				<h2 id="tematica_ambiental"><strong>Temática Hidrológica</strong></h2>

				<div class="row">
					<div class="col-md-12">
						<div class="feature-box feature-box-style-2">
							<div class="feature-box-icon">
								<i class="fa fa-map-o"></i>
							</div>
							<div class="feature-box-info">
								<h4 class="mb-none">Visor de Mapas</h4>
								<p class="tall"></p>
								<ul>
									<li>Canales Principales</li>
									<li>Canales de Riego</li>
									<li>Sectores y Subsectores de Riego</li>
									<li>Red Drenaje</li>
									<li>Vertimientos Autorizados(puntos)</li>
									<li>Autoridad Administrativa del Agua</li>
									<li>Administración Local del Agua</li>
									<li>Unidades Hidrográficas</li>
								</ul>
								<br/>
								<a href="visor.html#/tematica/-KhDpV9TzDZKK9qRA1vY/stats">Mostrar visor de Mapas</a>
							</div>
						</div>

					</div>
				</div>

{% endblock %}
