{% extends '../layouts/tematicas_layout.njk' %}

{% block pageHeader %}
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Temáticas</a></li>
									<li class="active">Hidrológica</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Temática Hidrológica</h1>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block content %}

				<h2 id="tematica_ambiental"><strong>Temática Hidrológica</strong></h2>

				<br/>
				<div class="featured-boxes">
					<div class="row">
						<div class="col-sm-12">
							<div class="heading text-center">
								<h3 style="margin-bottom: 0">Información de Servicios de Saneamiento de la SUNASS:</h3>
							</div>
						</div>
						<div class="col-md-4">
							<div class="featured-box featured-box-primary featured-box-effect-1">
								<div class="box-content">
									
									<h4 class="text-uppercase">
										<a target="_blank" href="http://servicio.sunass.gob.pe/gsf/datos/ptap/">Planta de Tratamiento de Agua Potable</a>
									</h4>									
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="featured-box featured-box-secondary featured-box-effect-1">
								<div class="box-content">
									
									<h4 class="text-uppercase">
										<a target="_blank" href="http://servicio.sunass.gob.pe/gsf/datos/ptar/">Planta de Tratamiento de Agua Residual</a>
									</h4>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="featured-box featured-box-tertiary featured-box-effect-1">
								<div class="box-content">
									
									<h4 class="text-uppercase">
										<a target="_blank" href="http://servicio.sunass.gob.pe/gsf/datos/estudios/">Estudio <br/>Tarifario</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>

				<br/>
				<br/>

				<div class="row">
					<div class="col-md-12">
						<div class="feature-box feature-box-style-2">
							<div class="feature-box-icon">
								<i class="fa fa-map-o"></i>
							</div>
							<div class="feature-box-info">
								<h4 class="mb-none">Visor de Mapas</h4>
								<p class="tall">
									En esta sección encontrará todos los servicios y mapas relacionados a esta temática.<br/>
									Así también podrá visualizar gráficos estadísticos
								</p>								
								<a href="visor.html#/tematica/-KhDpV9TzDZKK9qRA1vY/stats">Click aquí para mostrar el Visor de Mapas</a>
							</div>
						</div>

					</div>
				</div>

{% endblock %}
