{% extends '../layouts/tematicas_layout.njk' %}

{% block pageHeader %}
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Temáticas</a></li>
									<li class="active">Ambiental</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Temática Ambiental</h1>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block content %}

				<h2 id="tematica_ambiental"><strong>Temática Ambiental</strong></h2>

				<div class="row">
					<div class="col-md-12">
						<p class="lead">
							El Observatorio de la Cuenca {{cuenca_title}}, presenta una síntesis de información del Ambiente, con el objetivo de lograr una visión general que permita contribuir con el manejo integral de la cuenca.<br/>
							Se han agrupado en 05 secciones que podrás consultar fácilmente a través de esta aplicación
						</p>
					</div>
					<br />

					<!--div class="col-md-12">
						<span class="img-thumbnail center-block">
							<img class="img-responsive" src="web/img/caracterizacion/clima.jpg" alt="Características Climática" width="100%">
						</span>
						<br />
						<br />
					</div-->
				</div>


				<div class="row">
					<div class="col-md-12">

						<div class="feature-box feature-box-style-2">
							<div class="feature-box-icon">
								<i class="fa fa-thermometer-full"></i>
							</div>
							<div class="feature-box-info">
								<h4 class="mb-none">Precipitación y Temperatura</h4>
								<p class="tall">
									Servicio de consulta en línea de datos Metereológicos e Hidrológicos de la Cuenca {{cuenca_title}}
									<br/>
									<a href="visor.html#/tematica/-KhDkIXgXKSWQpblXLLk/precipitaciones">Mostrar gráfica</a>
								</p>
							</div>
						</div>
						<div class="feature-box feature-box-style-2">
							<div class="feature-box-icon">
								<i class="fa fa-search"></i>
							</div>
							<div class="feature-box-info">
								<h4 class="mb-none">Investigadores Ambientales</h4>
								<p class="tall">
									Este servicio proporciona información de los investigadores registrados en El Directorio Nacional de Investigadores e Innovadores DINA.
									<br/>
									<a href="visor.html#/tematica/-KhDkIXgXKSWQpblXLLk/investigadores">Mostrar gráfica</a>
								</p>
							</div>
						</div>
						<div class="feature-box feature-box-style-2">
							<div class="feature-box-icon">
								<i class="fa fa-briefcase"></i>
							</div>
							<div class="feature-box-info">
								<h4 class="mb-none">Denuncias Ambientales</h4>
								<p class="tall">
									Este servicio presenta Denuncias Ambientales a través del Servicio Nacional de Denuncias Ambientales - SINADA, unidad especializada del Organismo de Evaluación y Fiscalización Ambiental - OEFA.
									<br/>
									<a href="visor.html#/tematica/-KhDkIXgXKSWQpblXLLk/denuncias">Mostrar gráfica</a>
								</p>
							</div>
						</div>
						<div class="feature-box feature-box-style-2">
							<div class="feature-box-icon">
								<i class="fa fa-bookmark"></i>
							</div>
							<div class="feature-box-info">
								<h4 class="mb-none">Legajos Ambientales</h4>
								<p class="tall">
									Servicio de consulta en línea de legajos sobre Delitos Ambientales
									<br/>
									<a href="visor.html#/tematica/-KhDkIXgXKSWQpblXLLk/legajos">Mostrar gráfica</a>
								</p>
							</div>
						</div>
						<div class="feature-box feature-box-style-2">
							<div class="feature-box-icon">
								<i class="fa fa-map-o"></i>
							</div>
							<div class="feature-box-info">
								<h4 class="mb-none">Visor de Mapas</h4>
								<p class="tall"></p>
								<ul>
									<li>Fuentes Contaminantes 2013</li>
									<li>Vertimientos de Agua Residual en la Cuenca</li>
									<li>Botaderos</li>
									<li>Humedales RAMSAR</li>
									<li>Zonas de Amortiguamiento</li>
									<li>Areas Naturales Protegidas</li>
									<li>Estaciones Hidrometeorologicas</li>
								</ul>
								<br/>
							</div>
						</div>

					</div>
				</div>

{% endblock %}
