{% extends '../layouts/tematicas_layout.njk' %}

{% block pageHeader %}
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Temáticas</a></li>
									<li class="active">Hidrológica</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Temática Hidrológica</h1>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block content %}

				<h2 id="tematica_ambiental"><strong>Temática Hidrológica</strong></h2>

                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">
                            La sección HIDROLÓGICA del Observatorio de la Cuenca Quilca - Chili, presenta información cartográfica relevante relacionada a temas hidrológicos, a los que se accede a través del VISOR DE MAPAS.
                        </p>
                        <p>
                            Sin embargo, resulta muy importante conocer el documento que orienta la gestión de los recursos hídricos, el Plan de Gestión de los Recursos Hídricos. El documento es vinculante para los Sectores y -Niveles de Gobierno con competencias en la Gestión del Agua.
                        </p>
                        <p>
                            Exponemos algunos aspectos relevantes:
                        </p>
                    </div>
                </div>

                <h3 id="ubicacion"><strong>Plan de Gestión de Recursos Hídricos Quilca-Chili</strong> </h3>

                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">
                            Es un instrumento público vinculante y tiene por finalidad alcanzar el uso sostenible de los recursos hídricos. Se ha elaborado a través de un proceso participativo conducido por la Autoridad Nacional del Agua (ANA), que finalizó el año 2013.
                        </p>
                        <p>
                            Este PGRHC ha sido elaborado con limitada disponibilidad de información, por lo que es necesario <strong>avanzar en el estudio de la cuenca</strong>, en aspectos como redes hidrometeorológicas y de calidad de aguas, aguas subterráneas, estado de la infraestructura hidráulica, fortalecimiento de los derechos, estudios para la zonificación de riesgos, caudales ecológicos, etc.
                        </p>
                        <p>
                            El diagnostico determinó que el problema central es la inadecuada gestión de los recursos hídricos, manifestada en el bajo aprovechamiento de los recursos hídricos y deterioro de la calidad del agua, como resultado de la desarticulación entre las
                            instituciones y organizaciones locales para gestionar multisectorialmente los recursos hídricos, agravada por insuficientes recursos económicos, baja valoración del agua e inadecuada respuesta a eventos extremos. La Figura 1 grafica la descripción.
                        </p>
                    </div>

                    <div class="col-md-12">
                        <div>
                            <a class="img-thumbnail lightbox" href="web/img/tematica/fig01.jpg" data-plugin-options='{"type":"image"}'>
                                <img class="img-responsive" src="web/img/tematica/fig01.jpg" alt=" Principales problemas identificados durante la fase de diagnóstico por ejes temáticos y línea de base de los principales indicadores">
                                <span class="zoom">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </div>
                        <p class="text-center"><small>Fig 1: Principales problemas identificados durante la fase de diagnóstico por ejes temáticos y línea de base de los principales indicadores</small></p>
                     </div>

                     <div class="col-md-12">
                         <p>
                             La visión que intenta alcanzar el PGRH dice: “Instituciones articuladas en la gestión multisectorial de los recursos hídricos en la cuenca Quilca-Chili con una autoridad local fortalecida, un uso eficiente del agua en calidad, cantidad y oportunidad sin afectar la sostenibilidad ambiental, una población que participa activamente en la gestión de los recursos hídricos y una adecuada capacidad de respuesta a eventos extremos”.
                         </p>
                         <p>
                             Los objetivos específicos del PGRHC son:
                         </p>
                         <ul class="list list-icons list-primary">
                            <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Lograr la conservación de los ecosistemas y los procesos hidrológicos, así como la determinación y planificación de la oferta y disponibilidad hídrica para optimizar la atención de la demanda de los recursos hídricos a nivel de la cuenca. </li>
                            <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200"><i class="fa fa-check"></i> Recuperar y proteger la calidad de los recursos hídricos en las fuentes naturales y sus ecosistemas, así como la vigilancia, fiscalización y sanción de los agentes contaminantes de las fuentes naturales en la cuenca.</li>
                            <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="400"><i class="fa fa-check"></i> Atender de manera oportuna la demanda de los recursos hídricos para garantizar el acceso al agua como derecho humano en el marco de la seguridad hídrica y la seguridad alimentaria, priorizando el desarrollo de la infraestructura hidráulica para satisfacer la demanda hídrica poblacional y productiva en zonas de mayor vulnerabilidad.</li>
                            <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fa fa-check"></i> Promover una cultura del agua por la paz para lograr la gestión integrada de los recursos hídricos con un enfoque de solidaridad y desarrollo sostenible para la gestión eficiente y sostenible del agua y la valoración de los recursos hídricos y de sus bienes asociados en un escenario de gobernabilidad y gobernanza hídrica. </li>
                            <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800"><i class="fa fa-check"></i> Identificar la variabilidad climática y sus impactos sobre los recursos hídricos y la población en general para promover una adecuada adaptación al cambio climático y disminuir la vulnerabilidad y afectación de la cuenca como consecuencia de los eventos hidrológicos extremos. </li>
                         </ul>
                         <br/>
                         <p>
                             Las intervenciones definidas se estructuran en 5 líneas de acción, en coherencia con la Política y Estrategia Nacional de los Recursos Hídricos (PENRH). Estas son:
                         </p>
                     </div>
                </div>

                <!-- TABLE 1 -->
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Línea de Acción</th>
                                    <th class="text-center">Programa de intervención</th>
                                    <th class="text-center">Intervenciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="1" rowspan="11">1.</td>
                                    <td colspan="1" rowspan="4">Evaluación de la disponibilidad, demanda y oferta hídrica</td>
                                    <td colspan="1" rowspan="1">Actualización y ampliación de los inventarios de fuentes de agua. Lagunas, bofedales, puquios y manantiales constituyen un sistema natural interconectado y precisan de plan racionalizado de preservación-explotación que lo trate como un sistema único. </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Actualización de estudios hidrogeológicos y monitoreo de aguas subterráneas para un aprovechamiento racional y una extracción sostenible. </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Mejoramiento de la medición en la infraestructura hidráulica de captación, conducción y distribución (incluidas aguas de retorno). </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Actualización de balances hídricos y evaluaciones de recursos hídricos a escala de subcuenca, ya que las estimaciones de oferta disponible y demandas de agua más recientes se encuentran obsoletas.</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="6">Conservación e incremento de la oferta hídrica</td>
                                    <td colspan="1" rowspan="1">Afianzamiento hídrico del Chili: con el propósito de aumentar la disponibilidad de agua se plantea la ampliación de la capacidad de almacenamiento. </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Regulación de los ríos Yura, Siguas y de la Cuenca Oriental ya que la insuficiente regulación dificulta la satisfacción de las demandas. </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Programa integral de seguridad de represas e infraestructura hidráulica mayor </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Establecimiento y aplicación de los caudales ecológicos para favorecer la mejora del estado de los ecosistemas acuáticos y la recuperación de la vegetación de ribera asociada al río. </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Drenajes para resolver los problemas de anegamiento en asentamientos de La Joya y Vítor. </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Reforestación de zonas clave para incrementar la infiltración de las precipitaciones y disminuir el riesgo de episodios de inundaciones y huaycos.</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Fomento del uso eficiente y sostenible del agua</td>
                                    <td colspan="1" rowspan="1">Programa de fomento del uso eficiente y sostenible del agua, que comprende el mejoramiento de la infraestructura hidráulica de captación, conducción y distribución de los sistemas de riego</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- TABLE 2 -->
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Línea de Acción</th>
                                    <th class="text-center">Programa de intervención</th>
                                    <th class="text-center">Intervenciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="1" rowspan="9">2. Gestión de la calidad</td>
                                    <td colspan="1" rowspan="3">Fortalecimiento de acciones sectoriales y multisectoriales</td>
                                    <td colspan="1" rowspan="1">Control y fiscalización de los vertimientos de aguas residuales.</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Promoción de instrumentos de gestión que permitan asegurar el cumplimiento de la normativa vigente en cuanto a vertimiento de aguas residuales y calidad de aguas.</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Promoción de la mejora de la operación de las represas</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="6">Mantenimiento y mejora de la calidad del agua en las fuentes</td>
                                    <td colspan="1" rowspan="1">Mejora del conocimiento de las causas y fuentes contaminantes de aguas superficiales y subterráneas</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Ampliación, mejora y explotación de las redes de monitoreo.</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Ampliación y mejora de los sistemas de alcantarillado municipales.</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Lagunas de oxidación con pretratamiento, implementando un plan de operación y mantenimiento adecuado, realizando una correcta extracción de sedimentos periódica para evitar le reducción del tiempo de retención de las mismas, en centros poblados mayores de 400 habitantes en el Alto Quilca-Vítor-Chili. </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Instalación de Plantas de Tratamiento de Aguas Residuales (PTAR) en el Medio Quilca-Vítor-Chili (Arequipa metropolitana y cuenca oriental) y en el Medio-Bajo Quilca-Vítor-Chili.</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Promoción de la gestión sostenible de los residuos mediante la construcción de rellenos sanitarios. </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- TABLE 3 -->
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Línea de Acción</th>
                                    <th class="text-center">Programa de intervención</th>
                                    <th class="text-center">Intervenciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="1" rowspan="7">3. Gestión de la Oportunidad</td>
                                    <td colspan="1" rowspan="4">Implementación de la Gestión Integrada de los Recursos Hídricos</td>
                                    <td colspan="1" rowspan="1">Implementación del marco normativo </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Fortalecimiento de la institucionalidad del sistema de gestión</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Fortalecimiento de la coordinación y concertación interinstitucional</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Implementación de instrumentos para el apoyo en la toma de decisiones</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Promoción del otorgamiento de derechos de uso de agua</td>
                                    <td colspan="1" rowspan="1">Mejora de la seguridad jurídica de los usuarios del recurso hídrico a la hora de ver garantizadas sus asignaciones de agua para la satisfacción de sus necesidades</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Promoción de la inversión para el desarrollo de infraestructura hidráulica,</td>
                                    <td colspan="1" rowspan="1">Incluyendo la implementación de planes de abastecimiento y saneamiento para los centros poblados de la cuenca, un plan interinstitucional para la gestión del recurso hídrico en comunidades campesinas y otras inversiones como el mejoramiento del sistema de captación de agua de la bocatoma de Socosani, el mejoramiento de la infraestructura de conducción de agua a La Joya o la construcción de un canal desde la cola del embalse de Aguada Blanca hasta la ventana de captación de la central hidroeléctrica Charcani V. </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Fortalecimiento del régimen económico</td>
                                    <td colspan="1" rowspan="1">Mediante el sinceramiento de las tarifas por el uso del agua, de manera que los costos de prestar los servicios (regulación, captación, conducción, distribución, alcantarillado, tratamiento y vertimiento) se correspondan los montos facturados a los usuarios, o el establecimiento de mecanismos de compensación por servicios ambientales.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- TABLE 4 -->
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Línea de Acción</th>
                                    <th class="text-center">Programa de intervención</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="1" rowspan="3">4.  Gestión de la Cultura del Agua</td>
                                    <td colspan="1" rowspan="1">Fortalecimiento de capacidades y generación de conocimientos para la GIRH en la Cuenca Quilca-Chili</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Sensibilización para la gobernanza y gobernabilidad en la GIRH en la cuenca.</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Desarrollo de prácticas para el uso eficiente y conservación y protección del medio ambiente</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- TABLE 5 -->
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Línea de Acción</th>
                                    <th class="text-center">Programa de intervención</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="1" rowspan="7">5. Adaptación al cambio climático y eventos extremos.</td>
                                    <td colspan="1" rowspan="1">Infraestructura de defensa de zonas pobladas</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Mejora de la infraestructura de drenaje deficitario.</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Mantenimiento y limpieza de cauces y torrenteras </td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Definición, delimitación, implementación y control de fajas marginales, con el objetivo de preservar el ambiente asociado al medio hídrico, y permitir la ejecución de tareas de conservación por parte de las autoridades.</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Protección y conservación de la cuenca alta mediante medidas de estabilización de pendientes</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Actividades de conservación en zonas de deslizamientos y derrumbes.</td>
                                </tr>
                                <tr>
                                    <td colspan="1" rowspan="1">Sistema de prevención y contingencia ante inundaciones: Sistema de alerta temprana</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                         <p>
                             El presupuesto necesario para implementar las intervenciones de corto plazo es de 1 929,8 millones de nuevos soles y de otros 1 619,8 millones de nuevos soles en intervenciones para el largo plazo. Esta magnitud de inversiones está enmarcada en la distribución de competencias y la capacidad de financiamiento que realizan los Gobiernos Regionales y Locales, de los sectores estatales, y del sector privado.
                         </p>
                         <p>
                             Las intervenciones a <strong>corto plazo</strong> y el porcentaje de financiamiento al que cada institución estaría comprometida se recogen en las siguientes tablas:
                         </p>
                    </div>

                    <div class="col-md-12">
                        <div>
                            <a class="img-thumbnail lightbox" href="web/img/tematica/tabla01.jpg" data-plugin-options='{"type":"image"}'>
                                <img class="img-responsive" src="web/img/tematica/tabla01.jpg" alt="">
                                <span class="zoom">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </div>
                     </div>

                     <div class="col-md-12">
                        <div>
                            <a class="img-thumbnail lightbox" href="web/img/tematica/tabla02.jpg" data-plugin-options='{"type":"image"}'>
                                <img class="img-responsive" src="web/img/tematica/tabla02.jpg" alt="">
                                <span class="zoom">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </div>
                     </div>

                     <div class="col-md-12">
                        <div>
                            <a class="img-thumbnail lightbox" href="web/img/tematica/tabla03.jpg" data-plugin-options='{"type":"image"}'>
                                <img class="img-responsive" src="web/img/tematica/tabla03.jpg" alt="">
                                <span class="zoom">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </div>
                     </div>

                     <div class="col-md-12">
                        <div>
                            <a class="img-thumbnail lightbox" href="web/img/tematica/tabla04.jpg" data-plugin-options='{"type":"image"}'>
                                <img class="img-responsive" src="web/img/tematica/tabla04.jpg" alt="">
                                <span class="zoom">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </div>
                     </div>

                     <div class="col-md-12">
                        <div>
                            <a class="img-thumbnail lightbox" href="web/img/tematica/tabla05.jpg" data-plugin-options='{"type":"image"}'>
                                <img class="img-responsive" src="web/img/tematica/tabla05.jpg" alt="">
                                <span class="zoom">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </div>
                     </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>
                            El PGRHC tiene una orientación multisectorial, su financiamiento pretende hacer uso de los instrumentos sectoriales disponibles y de la disponibilidad de terceras entidades, como empresas privadas con intereses económicos en la cuenca, que pretenden racionalizar el uso de recursos y disminuir el esfuerzo de inversión de las principales instituciones, Gobierno Regional y ANA, y aquellas con que si bien tienen fuertes competencias, no tiene los recursos suficientes para hacer frente a los retos que se plantean, por ejemplo Gobiernos Locales y Organizaciones de Usuarios. Algunos de estos programas son:
                        </p>
                        <ul class="list list-icons list-primary">
                            <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="000"><i class="fa fa-check"></i>Autoridad Nacional del Agua </li>
                            <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200"><i class="fa fa-check"></i>Ministerio de Agricultura y Riego </li>
                            <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="400"><i class="fa fa-check"></i>Ministerio de Vivienda, Construcción y Saneamiento </li>
                            <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fa fa-check"></i>Ministerio del Ambiente </li>
                            <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800"><i class="fa fa-check"></i>Gobierno Regional de Arequipa </li>
                         </ul>
                    </div>
                </div>

                    <br/>
                    <br/>

                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <a class="img-thumbnail lightbox" href="web/img/tematica/fig02.jpg" data-plugin-options='{"type":"image"}'>
                                <img class="img-responsive" src="web/img/tematica/fig02.jpg" alt=" Principales problemas identificados durante la fase de diagnóstico por ejes temáticos y línea de base de los principales indicadores">
                                <span class="zoom">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </div>
                        <p class="text-center"><small>Figura 2: Indicadores de la GIRH, integrados por eje temático y las metas a alcanzar en el corto y largo plazo para el conseguir el escenario realista.</small></p>
                     </div>
                </div>


				<div class="row">
					<div class="col-md-12">
						<div class="feature-box feature-box-style-2">
							<div class="feature-box-icon">
								<i class="fa fa-map-o"></i>
							</div>
							<div class="feature-box-info">
								<h4 class="mb-none">Visor de Mapas</h4>
								<p class="tall"></p>
								<ul>
									<li>Canales Principales</li>
									<li>Canales de Riego</li>
									<li>Sectores y Subsectores de Riego</li>
									<li>Red Drenaje</li>
									<li>Vertimientos Autorizados(puntos)</li>
									<li>Autoridad Administrativa del Agua</li>
									<li>Administración Local del Agua</li>
									<li>Unidades Hidrográficas</li>
								</ul>
								<br/>
								<a href="visor.html#/tematica/-KhDpV9TzDZKK9qRA1vY/stats">Mostrar visor de Mapas</a>
							</div>
						</div>

					</div>
				</div>

{% endblock %}
