{% extends '../layouts/tematicas_layout.njk' %}

{% block pageHeader %}
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Temáticas</a></li>
									<li class="active">Económica</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Temática Económica</h1>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block content %}

				<h2 id="tematica_ambiental"><strong>Temática Socio-económica</strong></h2>

				<div class="row">
					<div class="col-md-12">
						<p class="lead">
							El Observatorio de la Cuenca {{cuenca_title}}, presenta una síntesis de información Económica y Social, con el objetivo de lograr una visión general que permita contribuir con el manejo integral de la cuenca.<br/>
							Se han agrupado en 05 secciones que podrás consultar fácilmente a través de esta aplicación
						</p>
					</div>

					<div class="col-md-12">
						<span class="img-thumbnail center-block">
							<img class="img-responsive" src="web/img/caracterizacion/clima.jpg" alt="Características Climática" width="100%">
						</span>
						<br />
						<br />
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="feature-box feature-box-style-2">
							<div class="feature-box-icon">
								<i class="fa fa-usd"></i>
							</div>
							<div class="feature-box-info">
								<h4 class="mb-none">Gasto Público</h4>
								<p class="tall">
									El presupuesto es la expresión cuantificada, conjunta y sistemática de los gastos programados durante el año fiscal, por cada una de las entidades del sector público, la cual refleja los ingresos que financian dichos gastos. Así, constituye el instrumento de gestión del Estado que permite a las entidades lograr sus objetivos y metas contenidas en sus respectivos Planes Operativos Institucionales (POI)
									<br/>
									<a href="visor.html#/tematica/-KhDogAt_wkHk731PHh1/gastos">Mostrar gráfica</a>
								</p>
							</div>
						</div>
						<div class="feature-box feature-box-style-2">
							<div class="feature-box-icon">
								<i class="fa fa-money"></i>
							</div>
							<div class="feature-box-info">
								<h4 class="mb-none">PBI por Actividades Económicas</h4>
								<p class="tall">
									Procesos que tienen lugar para la obtención de productos, bienes y/o servicios destinados a cubrir necesidades y deseos en la sociedad, que contribuirán al progreso económico. Tienen como propósito cubrir las necesidades humanas a partir del trabajo haciendo uso de los recursos disponibles, contemplando un criterio no sólo económico y empresarial, sino también social y ambiental en la toma de decisiones.
									<br/>
									<a href="visor.html#/tematica/-KhDogAt_wkHk731PHh1/pbi">Mostrar gráfica</a>
								</p>
							</div>
						</div>
						<div class="feature-box feature-box-style-2">
							<div class="feature-box-icon">
								<i class="fa fa-info-circle"></i>
							</div>
							<div class="feature-box-info">
								<h4 class="mb-none">Índice de Desarrollo Humano</h4>
								<p class="tall">
									El PNUD viene trabajando en ámbitos tan variados como los derechos humanos, la generación de ingresos, el fomento de la actividad productiva de los sectores excluidos, la tecnología de información, la sostenibilidad ambiental, el potencial energético, la atención de emergencias climáticas y sociales, entre los principales.
									<br/>
									<a href="visor.html#/tematica/-KhDogAt_wkHk731PHh1/stats">Mostrar gráfica</a>
								</p>
							</div>
						</div>
						<div class="feature-box feature-box-style-2">
							<div class="feature-box-icon">
								<i class="fa fa-map-o"></i>
							</div>
							<div class="feature-box-info">
								<h4 class="mb-none">Visor de Mapas Social-Económico</h4>
								<p class="tall"></p>
								<ul>
									<li>Catastro Minero - INGEMMET</li>
									<li>Uso Actual de la Tierra (Uso del Suelo)</li>
									<li>Areas Naturales Protegidas</li>
									<li>Zonas de Amortiguamiento</li>
									<li>Red Vial</li>
									<li>Pasivos Ambientales Mineros</li>
									<li>Sitios Arqueológicos</li>
									<li>Área Agrícola</li>
									<li>Establecimientos de Salud</li>
									<li>Población</li>
									<li>Comunidades Campesinas</li>
								</ul>
								<br/>
								<a href="visor.html#/tematica/-KhDogAt_wkHk731PHh1/indice">Mostrar gráfica</a>
							</div>
						</div>

					</div>
				</div>

{% endblock %}
