{% extends 'caracterizacion.tmpl.njk' %}

{% block pageHeader %}
				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Caracterización</a></li>
									<li class="active">Biofísica</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Caracterización Biofísica</h1>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block content %}
							<h2><strong>Ubicación y Extensión</strong> </h2>

							<div class="row">
								<div class="col-md-12">
									<p class="lead">
										La cuenca hidrográfica del río Chancay-Lambayeque está ubicada en la costa norte del Perú y constituye una de las cuencas más importantes de la vertiente Pacífico.
									</p>
								</div>
							</div>

							<hr class="tall">

							<div class="row">
								<div class="col-md-12">
									<p>Geograficamente, está situada entre los paralelos 06o21'12" y 06o57'09" de latitud sur, y 80o10'39" y 78o32'17" de longitud oeste.</p>
									<p>Políticamente, abarca parte de los departamentos de Lambayeque y Cajamarca. En el primero, cubre parte de sus 3 provincias (Chiclayo, Lambayeque y Ferreñafe), y en el segundo, 4 de sus provincias (Chota, Santa Cruz, San Miguel y Hualgayoc).</p>
									<img class="pull-left img-responsive" width="300" height="211" src="img/device.png" alt="Device">
									<p>La cuenca se encuentra en el ámbito administrativo de la Autoridad Admnistrativa del Agua (AAA) Jequetepeque-Zarumilla, que tiene como jurisdicción las Administraciones Locales de Agua (ALA) de Jequetepeque, Zaña, Chancay-Lambayeque, Motupe Olmos-La Leche, Medio y Bajo Piura, Alto Piura, Chira, San Lorenzo y Tumbes.</p>
									<p>La cuenca limita al norte con las del río Motupe y Chamaya; por el sur, con las cuencas del río Zaña, Jequetepeque y la intercuenca 137759; por el este, con la intercuenca Alto Marañón IV; y por el oeste, con el océano Pacífico.</p>
								</div>
							</div>
{% endblock %}
