							<aside class="sidebar">

								<h4 class="heading-primary">Catacterización</h4>
								<ul class="nav nav-list mb-xlg">
									<li class="active">
										<a href="#">Caracterización Biofísica</a>
										<ul>
											<li class="active"><a href="caracterizacion_biofisica#ubicacion">Ubicación y Extensión<span class="pull-right"></span></a></li>
			                                <li class=""><a href="caracterizacion_biofisica#topografia">Características Topográficas y Fisiográficas<span class="pull-right"></span></a></li>
			                                <li class=""><a href="caracterizacion_biofisica#climatica">Caracterización Climática<span class="pull-right"></span></a></li>
			                                <li class=""><a href="caracterizacion_biofisica#geologica">Caracterización Geológica<span class="pull-right"></span></a></li>
			                                <li class=""><a href="caracterizacion_biofisica#suelo">Caracterización de Usos de Suelo<span class="pull-right"></span></a></li>
			                                <li class=""><a href="caracterizacion_biofisica#biotica">Caracterización Biótica<span class="pull-right"></span></a></li>
			                                <li class=""><a href="caracterizacion_biofisica#hidrico">Caracterización de los Recursos Hídricos<span class="pull-right"></span></a></li>
										</ul>
									</li>


									<li>
										<a href="#">Caracterización Socioeconómica y Cultural</a>
										<ul>
											<li><a href="caracterizacion_socioeconomica_cultural.html#poblacion">Población<span class="pull-right"></span></a></li>
			                                <li><a href="caracterizacion_socioeconomica_cultural.html#pea">Pob. Económ. Activa (PEA) <span class="pull-right"></span></a></li>
			                                <li><a href="caracterizacion_socioeconomica_cultural.html#analfabetismo">Analfabetismo<span class="pull-right"></span></a></li>
			                                <li><a href="caracterizacion_socioeconomica_cultural.html#educacion">Nivel de Educación<span class="pull-right"></span></a></li>
			                                <li><a href="caracterizacion_socioeconomica_cultural.html#basicos">Servicios Básicos<span class="pull-right"></span></a></li>
                                			<li><a href="caracterizacion_socioeconomica_cultural.html#economicas">Actividades Económicas<span class="pull-right"></span></a></li>
										</ul>
									</li>
								</ul>

								<hr>

								<h4 class="heading-primary">Observatorio de la Cuenca Chancay-Lambayeque</h4>
								<p>
									El observatorio de la Cuenca Chancay-Lambayeque se crea con la finalidad de poner a disposición de los usuarios, la
									información existente sobre la cuenca en distintos campos de conocimiento (ambiental, hidrológico, socio-económico y
									gestión de riesgos).
								</p>

							</aside>
