				<div class="container">
					<div class="row center">
						<div class="col-md-12">
							<h2 class="mb-sm word-rotator-title">
								Entidades relacionadas con el Observatorio {{cuenca_title}}
							</h2>
							<h4 class="heading-primary lead tall">Instituciones del estado que contribuyen con el medio ambiente ...</h4>
						</div>
					</div>

					<div class="row center">
						<div class="owl-carousel owl-theme" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
							<div style="padding: 10px 20px;">
								<img class="img-responsive" src="web/img/instituciones/ana.png" alt="">
							</div>
							<div style="padding: 10px 20px;">
								<img class="img-responsive" src="web/img/instituciones/cenepred.png" alt="">
							</div>
							<div style="padding: 10px 20px;">
								<img class="img-responsive" src="web/img/instituciones/concytec.png" alt="">
							</div>
							<div style="padding: 10px 20px;">
								<img class="img-responsive" src="web/img/instituciones/ingemet.png" alt="">
							</div>
							<div style="padding: 10px 20px;">
								<img class="img-responsive" src="web/img/instituciones/oefa.png" alt="">
							</div>
							<div style="padding: 10px 20px;">
								<img class="img-responsive" src="web/img/instituciones/senamhi.png" alt="">
							</div>
							<div style="padding: 10px 20px;">
								<img class="img-responsive" src="web/img/instituciones/sernanp.png" alt="">
							</div>
							<div style="padding: 10px 20px;">
								<img class="img-responsive" src="web/img/instituciones/sinia.png" alt="">
							</div>
						</div>
					</div>
				</div>
