					<div class="row">
						<div class="col-md-12">
							<h2>Ultimas <strong>Noticias</strong></h2>

							<div class="owl-carousel owl-theme" data-plugin-options='{"responsive": {"0": {"items": 1}, "479": {"items": 1}, "768": {"items": 2}, "979": {"items": 3}, "1199": {"items": 4}}, "items": 4, "margin": 10, "loop": false, "nav": false, "dots": true}'>
								<div>
									<div class="recent-posts">
										<article class="post">
											<div class="date">
												<span class="day">15</span>
												<span class="month">Jan</span>
											</div>
											<h4 class="heading-primary"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. Lorem ipsum amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
										</article>
									</div>
								</div>
								<div>
									<div class="recent-posts">
										<article class="post">
											<div class="date">
												<span class="day">15</span>
												<span class="month">Jan</span>
											</div>
											<h4 class="heading-primary"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. Lorem ipsum amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
										</article>
									</div>
								</div>
								<div>
									<div class="recent-posts">
										<article class="post">
											<div class="date">
												<span class="day">15</span>
												<span class="month">Jan</span>
											</div>
											<h4 class="heading-primary"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. Lorem ipsum amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
										</article>
									</div>
								</div>
								<div>
									<div class="recent-posts">
										<article class="post">
											<div class="date">
												<span class="day">15</span>
												<span class="month">Jan</span>
											</div>
											<h4 class="heading-primary"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. Lorem ipsum amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
										</article>
									</div>
								</div>
								<div>
									<div class="recent-posts">
										<article class="post">
											<div class="date">
												<span class="day">15</span>
												<span class="month">Jan</span>
											</div>
											<h4 class="heading-primary"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. Lorem ipsum amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
										</article>
									</div>
								</div>
								<div>
									<div class="recent-posts">
										<article class="post">
											<div class="date">
												<span class="day">15</span>
												<span class="month">Jan</span>
											</div>
											<h4 class="heading-primary"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. Lorem ipsum amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
										</article>
									</div>
								</div>
								<div>
									<div class="recent-posts">
										<article class="post">
											<div class="date">
												<span class="day">15</span>
												<span class="month">Jan</span>
											</div>
											<h4 class="heading-primary"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. Lorem ipsum amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
										</article>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
