<h2>
	Ultimas <strong>Noticias</strong>
</h2>

<div class="owl-carousel owl-theme" data-plugin-options='{"responsive": {"0": {"items": 1}, "479": {"items": 1}, "768": {"items": 2}, "979": {"items": 3}, "1199": {"items": 3}}, "items": 3, "margin": 10, "loop": false, "nav": false, "dots": true}'>
		{% for item in items %}
	<div>
		<div class="recent-posts">
			<article class="post">
				<div class="date">
					<span class="day">{{ item.fecha_creacion.date() }}</span>
					<span class="month">{{ item.fecha_creacion.format("MMM") }}</span>
				</div>
				<h5 class="heading-primary clearfix">
					<a href="{{item.url_novedad}}" target="_blank">{{ item.title }}</a>
				</h5>
				<p>
					{{ item.title }}
					<a href="{{item.url_novedad}}" class="read-more" target="_blank">read more <i class="fa fa-angle-right"></i></a>
				</p>
			</article>
		</div>
	</div>
	{% endfor %}

</div>
