					<div class="featured-boxes">
						<div class="row">
							<div class="col-sm-12">
								<div class="heading text-center">
									<h1>Temáticas del Observatorio</h1>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="featured-box featured-box-primary featured-box-effect-1">
									<div class="box-content">
										<div class="icon-featured">
											<img class="img-responsive img-circle mb-lg" src="web/img/temas/tema-ambiental.jpg" alt="Temática Ambiental">
										</div>
										<h4 class="text-uppercase">Temática <br/>Ambiental</h4>
										<br/>
										<ul class="list list-icons list-primary">
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Datos de Precipitación y Temperatura</li>
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300"><i class="fa fa-check"></i> Investigadores Ambientales</li>
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fa fa-check"></i> Denuncias Ambientales</li>
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900"><i class="fa fa-check"></i> Legajos Ambientales</li>
										</ul>
										<p><a href="/" class="lnk-primary learn-more">Learn More <i class="fa fa-angle-right"></i></a></p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="featured-box featured-box-secondary featured-box-effect-1">
									<div class="box-content">
										<div class="icon-featured">
											<img class="img-responsive img-circle mb-lg" src="web/img/temas/tema-cambio-climatico.jpg" alt="Temática de Riesgos y Cambio Climático">
										</div>
										<h4 class="text-uppercase">Temática de Riesgos y Cambio Climático</h4>
										<br/>
										<ul class="list list-icons list-secondary">
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Estaciones metereológicas</li>
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300"><i class="fa fa-check"></i> Mapa de salinidad</li>
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fa fa-check"></i> Mapa de drenaje</li>
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900"><i class="fa fa-check"></i> Mapa de Escenario de Riesgo</li>
										</ul>
										<p><a href="/" class="lnk-secondary learn-more">Learn more <i class="fa fa-angle-right"></i></a></p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="featured-box featured-box-tertiary featured-box-effect-1">
									<div class="box-content">
										<div class="icon-featured">
											<img class="img-responsive img-circle mb-lg" src="web/img/temas/tema-social-economico.jpg" alt="Temática Social-Económica">
										</div>
										<h4 class="text-uppercase">Temática Social-Económica</h4>
										<br/>
										<ul class="list list-icons list-tertiary">
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Producción Agrícola</li>
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300"><i class="fa fa-check"></i> PBI por actividades económicas</li>
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fa fa-check"></i> Índice de Desarrollo Humano</li>
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900"><i class="fa fa-check"></i> Áreas Naturales Protegidas</li>
										</ul>
										<p><a href="/" class="lnk-tertiary learn-more">Learn more <i class="fa fa-angle-right"></i></a></p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="featured-box featured-box-quaternary featured-box-effect-1">
									<div class="box-content">
										<div class="icon-featured">
											<img class="img-responsive img-circle mb-lg" src="web/img/temas/tema-hidrologico.jpg" alt="Temática Hidrológica">
										</div>
										<h4 class="text-uppercase">Temática <br/>Hidrológica</h4>
										<br/>
										<ul class="list list-icons list-quaternary">
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Unidades Hidrográficas </li>
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300"><i class="fa fa-check"></i> Sectores y Subsectores de Riego</li>
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fa fa-check"></i> Estaciones Hidrométricas</li>
											<li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900"><i class="fa fa-check"></i> Estaciones Hidrológicas</li>
										</ul>
										<p><a href="/" class="lnk-quaternary learn-more">Learn more <i class="fa fa-angle-right"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
